[2018-08-21 13:19] KylaWilliams commented on #726
I like this idea!

[2018-08-21 13:22] KylaWilliams commented on #740
Love this! The hip hop pedagogy is an interesting twist because the industry idolizes having wealth and wasting wealth simultaneously.

[2018-08-21 13:31] KylaWilliams commented on #618
I like this a lot!

[2018-08-21 13:32] KylaWilliams commented on #566
Really love this!

[2018-08-21 13:35] KylaWilliams commented on #461
So needed!

[2018-08-21 13:42] KylaWilliams commented on #38
This is going to be a good conversation.

[2018-08-21 13:50] KylaWilliams commented on #34
This conversation sometimes gets dismissed in super techie circles because seemingly "everyone" is online. But in the communities I work in, it is still a very relevant conversation and generationally reflected (education, jobs, housing, and health). That's why I proposed my session, #598 because we need more intentional strategies in place.

[2018-08-21 13:53] KylaWilliams commented on #737
Great session proposal! And something my peers and I discussed recently.

[2018-08-21 14:15] danielryne commented on #173
Hey y'all, quick question: Can this be condense from 90 minutes to 60 minutes?

[2018-08-21 16:50] tinagoetschi commented on #520
Hi  @Imasaikiran
I think its important for young people to learn about Agile and have a chance to build an MVP using Agile principles. You've listed the learning outcomes for your session, but how will you know these outcomes have been reached? Young people need a more specific framework (eg something to actually make or build) to help them learn abstract concepts. Can you flesh out your ideas of

[2018-08-21 16:55] tinagoetschi commented on #250
Hi @dimonga
Just to let you know *if* a stipend is awarded,  this could only covers the travel and accommodation for one person. Could this session still run with one facilitator? It sounds pretty cool!
thanks
Tina

[2018-08-21 18:09] chadsansing commented on #171
Let me have our selection team take a look - thnx, @jontutcher!

[2018-08-21 19:52] Imasaikiran commented on #520
Hello Tina

Thanks alot for understanding the value proposition of session for young
folks. I have bunch of frameworks which I made from my own experiences and
few are standard frameworks. I have few Agile Activity games in mind . Plan
is to make small teams within the crowd and make them do some fun agile
activity games so they learn practically in shorter span of time, they take
back learning fo

[2018-08-21 19:54] Imasaikiran commented on #520
@Tina Adding to this I'm into Product Management background with startup
experience , So I have both corporate and startup learning experience which
will be helpful for attendes.

Thanks

On Wed, Aug 22, 2018 at 1:22 AM sai kiran <sairahul3@gmail.com> wrote:

--
Regards
A.Sai Kiran
Ph: 09849603022

[2018-08-21 19:56] cubicgarden commented on #194
We have lecturers from Salford, LSE and others who can join us

[2018-08-21 21:09] gbaman commented on #667
Note the session details above have been edited from a placeholder session to a full session.

[2018-08-21 21:27] yochannah commented on #484
Tagging @MozillaFestival/2018-privacy-and-security-wranglers @bunnybooboo - y'all might be interested in this session.

[2018-08-21 21:30] yochannah commented on #447
tagging @MozillaFestival/2018-digital-inclusion-wranglers

[2018-08-22 03:40] saichaitanyaraju commented on #558
Thank for your response . Since it is highly technical  I feel openess would be the right space for it . Participants of Web literacy might expect to learn from scratch . Openness could be intermediate option for all kind of participants.

[2018-08-22 08:58] Snigsy commented on #51
Hello everyone and thanks Jon

Happy to explain more about the idea and answer any questions or queries about the proposed session 🙂

[2018-08-22 12:31] dimonga commented on #250
Hi, Thanks for asking, since the prototypes are already working so yes if the stipend is awarded to one person, I will present the session and show the prototypes. The other co-facilitators @hiteshcmonga and @poojapurswani have agreed in case one stipend is awarded, I will present the session at Mozfest.

[2018-08-22 12:49] rzr commented on #690
Updated github address:
https://github.com/rzr/webthing-iotjs

Documentation material:
https://github.com/rzr/webthing-iotjs/wiki

[2018-08-22 14:49] yochannah commented on #487
Hey @nickvidal & @webmink! I'm one of the Openness wranglers team. We're still in the process of reviewing sessions, and we were wondering - if your session is eventually accepted, would you be willing/able to deliver in a shorter slot (e.g. 60 or 90 minute) rather than all weekend?

Background reason for asking: Lots of sessions have asked for all weekend slots, but our physical space is finite.

[2018-08-22 14:53] nickvidal commented on #487
Hi Yo,

Yes, a shorter slot would be fine. We appreciate your consideration!

Thanks,
Nick

Em qua, 22 de ago de 2018 11:49, Yo Yehudi <notifications@github.com>
escreveu:

[2018-08-22 14:54] yochannah commented on #480
Hey @amchagas!

I'm one of the Openness wranglers team. We're still in the process of reviewing sessions, and we were wondering - if your session is eventually accepted, would you be willing/able to deliver in a shorter slot (e.g. 60 or 90 minute) rather than all weekend?

Background reason for asking: Lots of sessions have asked for all weekend slots, but our physical space is finite. If some ses

[2018-08-22 15:04] yochannah commented on #308
Hey @little-wow and thanks for the session proposal!
I'm one of the Openness wranglers team. We're still in the process of reviewing sessions, and we have a couple of questions!

1.  if your session is eventually accepted, would you be willing/able to deliver in a shorter slot (e.g. 60 or 90 minute) rather than all weekend? Background reason for asking: Lots of sessions have asked for all weekend

[2018-08-22 15:06] yochannah commented on #306
Hey @sammyfung and thanks for your neat session proposal! I'm one of the Openness wranglers team. We're still in the process of reviewing sessions, and we were wondering - if your session is eventually accepted, would you be willing/able to deliver in a shorter slot (e.g. 60 or 90 minute) rather than all weekend?

Background reason for asking: Lots of sessions have asked for all weekend slots, but

[2018-08-22 15:13] sammyfung commented on #306
Hi @yochannah thanks for your reply. I am willing to deliver a shorter session first.

If any open space available for small group discussion or hacking, I will lead a small group to work on followup hacking / discussion.

[2018-08-22 15:22] yochannah commented on #283
No github id included for this proposal - emailing facilitator instead:

[2018-08-22 15:31] yochannah commented on #200
Hey @rafaelcr!

Thanks for your session proposal.

The Openness team is reviewing proposals at the minute and we were wondering - was there any particular reason you chose Openness over, say, digital inclusion?

Thanks!

[2018-08-22 15:36] yochannah commented on #182
Hey @JohnoverBoard! I'm one of the openness wranglers for MozFest. We're reviewing applications at the moment and has a quick question: we wanted to know how interactive you planned for this session to be? Where possible we generally prefer audience participation over talks. Thanks!! :)

[2018-08-22 15:43] yochannah commented on #150
@BaliMaha Hi and thanks for your proposal!

The openness team is reviewing proposals at the minute and we were wondering - was there any particular reason you chose Openness over, say, digital inclusion?

Thanks!

[2018-08-22 15:45] yochannah commented on #112
@marenff I have another question! :)

I'm one of the Openness wranglers team. We're still in the process of reviewing sessions, and we were wondering - if your session is eventually accepted, would you be willing/able to deliver in a shorter slot (e.g. 60 or 90 minute) rather than all weekend?

Background reason for asking: Lots of sessions have asked for all weekend slots, but our physical space

[2018-08-22 15:49] yochannah commented on #44
Hey @narriral and @stepaola!

I'm one of the Openness wranglers for MozFest. We're reviewing applications at the moment and has a quick question: we wanted to know how interactive you planned for this session to be / how you plan to involve participants? Where possible we generally prefer audience participation over talks. Thanks!! :)

[2018-08-22 15:52] yochannah commented on #19
Hey @Flowdeeps and @naomiaro! Thanks for this session proposal, it sounds fun! I'm one of the Openness space wranglers and we had a quick question - how were you planning to tie this session into the MozFest Data+you theme?

[2018-08-22 15:55] yochannah commented on #169
Hey @jurra @polemidis!

I'm one of the Openness wranglers team. We're still in the process of reviewing sessions, and we were wondering - if your session is eventually accepted, would you be willing/able to deliver in a shorter slot (e.g. 60 or 90 minute) rather than all weekend?

Background reason for asking: Lots of sessions have asked for all weekend slots, but our physical space is finite. If

[2018-08-22 15:58] yochannah commented on #285
No github handles included, so emailing the participants instead.

[2018-08-22 15:58] amchagas commented on #480
Hi Yo,

nice to see you here too!
In principle I can do a shorter session, but I don't think it would be very
productive as soldering, designing circuits, etc, takes a bit of time....

I wonder if there could be an "in between" solution? I mean, it would be
very nice for me if, in case of not being able to do something the whole
weekend, I could host a 1 day long session? or even a half day one? T

[2018-08-22 15:58] yochannah commented on #285
Reponse came in fast: 🎉

[2018-08-22 16:16] emrysgreen commented on #171
Hi @MozillaFestival/2018-openness-wranglers is this one you could be interested in?

[2018-08-22 16:31] narriral commented on #44
Hi @yochannah :)

Thanks for asking.
The sessions we usually organize tend to require people's participation (volunteer, of course) -- in fact, we expect that the "interaction" part will fulfill the most part of the session. We understand that everyone eventually come across the topic of "documentation": whether to write a code, a process, or to read it in manuals, tutorials or on the internet. We

[2018-08-22 16:31] tinagoetschi commented on #110
Hi @siclemx
Can you tell us a bit more about how your session will be specially aimed at young people?
thanks!
Tina

[2018-08-22 16:48] tinagoetschi commented on #202
Hi @dangjavageek and @Macgeoffrey
I like that your session included trigonometry! Can you tell me more about how you will support a range of ages and understanding with the trig functions?

Also, what is the age of the primary facilitator?
thanks!
Tina

[2018-08-22 16:49] BaliMaha commented on #150
Dear Yo

Thanks for your question.

We had originally thought of both openness and digital inclusion. Your
application asked for a primary and a secondary space, and this made us
think.

We strive towards inclusion, but as critical educators, we recognize
achieving this will always be a work in progress. Therefore our project
uses open educational approaches to strive towards inclusion - and we wi

[2018-08-22 17:12] emrysgreen commented on #315
Hiya @MozillaFestival/2018-web-literacy-wranglers - Would you be interested in picking this one up?

[2018-08-22 19:29] julianitaquetal commented on #584
Hola!
We have a blog post about the project. Is in Spanish: https://karisma.org.co/el-planeta-es-la-escuela/

Sorry for my delay.
Juli

[2018-08-22 19:31] emrysgreen commented on #585
Hiya @fsagwe - would you be able to give us an overview of your session schedule please?  So we can get a clearer idea of how you will deliver your objectives.  Thanks

[2018-08-22 19:49] emrysgreen commented on #627
Hiya @MozillaFestival/2018-digital-inclusion-wranglers - is this one you could be interested in?

[2018-08-22 19:49] sin commented on #186
I'm not the submitter of this session, that's a mistake.

[2018-08-22 19:58] Derds commented on #648
Hi,
Just wondering if you have all of these materials already?
What will the boxes themselves be made of and is this material you will supply?
Thanks
Dervla

[2018-08-22 20:03] emrysgreen commented on #684
Hiya @elpiniki - is there scope for incorporating hybrid & hydrogen fuel cell vehicles?

[2018-08-22 20:21] emrysgreen commented on #544
Hiya @xynosis would you be able to let us know a bit more about the scheduling format of this session?  Have you got presenting time? Discussion time? The number of potential demos etc?  Just wanting to know how interactive and what size of space would need to accommodate.

[2018-08-22 20:30] emrysgreen commented on #406
Would you be interested in leading a junkyard space for us linked to this @teknoteacher?

[2018-08-22 20:32] emrysgreen commented on #417
Is this something you might like @MozillaFestival/2018-web-literacy-wranglers ?

[2018-08-22 21:11] elpiniki commented on #684
Hello @emrysgreen - great suggestion, yes I can definitely incorporate those as well.

[2018-08-22 22:39] OdysseyScout commented on #406
Is this a space with inspiration materials you can repurpose to make art or rapid prototypes?

I have run workshops like this in the past and would be delighted to do this at MozFest. I can show how parents in remote areas have thermoformed prosthetics from plastic soda bottles and uses other materials on hand. I will have demo hands and sample devices they can interact with which include repurpos

[2018-08-22 23:06] Derds commented on #419
@MozillaFestival/2018-digital-inclusion-wranglers  Not sure that this is suitable for our space so we just wanted to point this session your way!

[2018-08-23 02:13] little-wow commented on #308
Hi @yochannah !

1. Sure, that's totally fine
2. It can definitely be made interactive – I see this as a way to build on Open Leaders work and do some brainstorming around making change in this particular topic! We'll be in the process of beginning to workshop our resource guide, so hopefully this session can help with that. :)

Thank you! Let me know if you have any questions.

[2018-08-23 08:19] join2ashish commented on #403
@KadeMorton we are trying to teach holographic development through local contribution in Decentralisation. We should all be able to contribute to the Web, so it reflects and serves all of its users. We can start creating web content for our Mozilla volunteers and spread the awareness of hologram.

[2018-08-23 08:46] LNKalshoven commented on #180
Hi all, I received a question on the interactiveness of the session. Happy to clarify: the session will be very interactive. The goal of the session is to make use of the wisdom of the crowd (the participants) in how to approach these next steps in the copyright reform process. While some sharing of background info is needed (and I think interesting for the participants) the point is not a lecture

[2018-08-23 11:23] teknoteacher commented on #406
@chadsansing Yes, we certainly can link to the festival theme and have sought to link to relevant/current contexts in the past when running similar workshops. Thank you.

@emrysgreen I'm afraid I'm not as well acquainted with the lingo as you - What do you mean by 'junkyard' ?

@OdysseyScout This is a proposal for a session, not a space. Please, if you'd like to attend/support our session, you'd b

[2018-08-23 11:28] teknoteacher commented on #461
@KylaWilliams Would you happy to join in or support our session? You may find this of interest: [https://www.theguardian.com/education/2018/jul/24/academic-writes-270-wikipedia-pages-year-female-scientists-noticed ](https://www.theguardian.com/education/2018/jul/24/academic-writes-270-wikipedia-pages-year-female-scientists-noticed)

[2018-08-23 11:29] emrysgreen commented on #406
Thanks @teknoteacher - we were considering setting up a session or activity within the youth zone along similar lines to your proposed session here - the idea being a 'junkyard' of materials like fruit, scrap materials etc that could be linked up to pi's etc to do something fun - very similar to your proposed session - it's more about wacky inventions indeed, but also trying to re-use or recycle m

[2018-08-23 11:29] gbaman commented on #406
Thanks @teknoteacher.
Just to follow on from Alan's comments @OdysseyScout, unfortunately the Call for Proposals for this years Mozfest is closed (since 1st August) and we are unable to take any additional sessions for consideration this year.

As Alan mentioned, you are welcome to come along to his session as an attendee if the session is accepted, but we aren't accepting any further sessions at

[2018-08-23 11:33] teknoteacher commented on #465
@chadsansing Sure. I use the metaphor of a group climbing a tree. We start together at ground level where we establish how we are going to work together as we progress up the tree. Then I start to climb the trunk carefully, modelling the climbing to the others at the same time watching the progress of the others as they follow me up. Then as & when appropriate, we discuss the possible branches eac

[2018-08-23 13:21] kellyjeanne9 commented on #634
Hi @KadeMorton - thanks for your message about our proposal! We certainly plan to make this an interactive session and we suspect the individuals interested in a session of this nature will have a good deal of questions, inquiries, and ideas that would push our session in that direction regardless. However, we expect to structure our session by starting with a brief introduction to the work, conce

[2018-08-23 14:30] priyankanag commented on #158
Hey @PratikDhanave,
You can host workshops...thats fine. But can we still resolve the issue of catering to a non-technical crowd?  What are your thoughts around a workshop on this topic?

[2018-08-23 15:18] chadsansing commented on #419
cc @emrysgreen

[2018-08-23 15:20] chadsansing commented on #465
@teknoteacher, thank you for unpacking that approach.

[2018-08-23 16:17] stephwright commented on #601
Do the stories have to be about how openness has impacted careers?  I'm thinking about how openness has helped folks hack their own devices, or helped them solve a local problem, etc.

[2018-08-23 19:27] Schieck commented on #492
@maretoli is off but I can talk a little bit.

<h1>The Javascript microservices world!</h1>
<h3>On the decentralisation space</h3>

<h5>Now a days the openess, digital inclusion and web literacy are very connected toghether, and the JMW will connect this points.</h5>

 How the tutorial flow will be interactive and composed with a lot of parts, the decentralization will be on the healthy internet p

[2018-08-23 19:31] Schieck commented on #492
@KadeMorton I was without my account of github because a two factor bug. I deleted the old one and created this new, because of it I did not answer before. I'm Ricardo Schieck, Other Facilitator 2's.

[2018-08-23 19:31] amatod commented on #173
It is definitely possible to condense the session into 60 minutes, although there would be less time for the collective creation of memes.

[2018-08-24 01:39] joelvzach commented on #182
Hey MozFest team, thank you for reaching out.

My session involves a public poll by asking people to raise their hands if
they feel they fall in a particular category, thus setting an idea of
density of people who face a particular challenge. Also, I plan to carry
out small tests to see how many are brave to make mistakes, to see who are
not afraid of being judged, and those who tend to not leave

[2018-08-24 11:23] bunnybooboo commented on #173
A quick note from the PrivSec space is that this is an excellent proposal. If for some daft reason @MozillaFestival/2018-digital-inclusion-wranglers don't take this, we will as its secondary space.

[2018-08-24 11:41] bunnybooboo commented on #576
The Privacy and Security team love this proposal. We're going to accept for our Mozfest schedule this year. Please look out for further communications via email regarding travel stipend. We will require a prompt response to that escalation **by September 2**.

Congratulations!

cc/ @acabunoc

[2018-08-24 11:55] bunnybooboo commented on #6
The Privacy and Security team love this proposal. We're going to accept for our Mozfest schedule this year. Please look out for further communications via email.

Congratulations @KadeMorton!

[2018-08-24 12:05] bunnybooboo commented on #24
The Privacy and Security team love this proposal. We're going to accept for our Mozfest schedule this year. Please look out for further communications via email in the coming days.

Congratulations @roxanne-leitao!

[2018-08-24 12:33] bunnybooboo commented on #405
The Privacy and Security team love this proposal. We're going to accept for our Mozfest schedule this year. Please look out for further communications via email in the coming days.

Congratulations @benfrancis @kgiori!

[2018-08-24 13:15] bunnybooboo commented on #576
Notified via Twitter. https://twitter.com/MozFestPrivSec/status/1032978261368864770
Stipend escalation due via in email.

[2018-08-24 13:17] fsagwe commented on #585
Hi Emrys,

Thank you so much for the update.Well,my quest is to use chess as a tool to
help implement chesSDGs (global goals)...After  a landmark treaty signed
courtesy of the United Nations and majority of the countries in the world.
- With an a vowed aim to end extreme poverty,respect for human rights and
right for education ,actualizing  Vision 2030!!

- After an intro to global goals,the parti

[2018-08-24 13:22] bunnybooboo commented on #24
Notification sent via Twitter. https://twitter.com/MozFestPrivSec/status/1032981004720451585
Further comms to come.

[2018-08-24 14:37] poshaughnessy commented on #355
Hi, just to add that my colleague @thisisjofrank would be joining as co-facilitator, please, if this session is accepted! :)

[2018-08-24 18:31] azevedolenno commented on #502
So, since we have a workshop that participates in an experience that the Acreans, here in Brazil had. Quickly speaking, a workshop will focus on the use of fire and its tools, such as extras and resources to help users have limited access to the internet and basic quality content on the world wide web, and show in practice , as Firefox offers more freedom for this content creation.

[2018-08-24 22:11] poush commented on #358
@ryanwarsaw Just wanted to add that, I am working on a similar extension of AirBnB's research to convert sketches drawn by hand to coded UI components as my college project I will be able to present a minimalist working/demo model at MozFest.
Let me know if you have any questions.
Thanks

[2018-08-25 03:58] siclemx commented on #110
Hi @tinagoetschi  !

The session will encourage youth people to:

* Realize what kind of data all we have and how it's processed.

* Look at new technologies like Machine Learning and Natural Language Processing. And realize that computers is not just technical stuff it includes others areas. This last section is the biggest in all this session, I will to encourage them to be agents of change in t

[2018-08-25 06:07] SuSonia commented on #396
Hi @chadsansing, as the proposers of the sessions we are young leaders passionate about digital inclusion and digital rights. We are looking to connect with other young leaders and friends/supporters of youth while sharing opportunities for participants to become further engaged after finding out which areas they are interested in. Apologies for the delayed reply!

[2018-08-25 16:26] yochannah commented on #613
Hey @SYED-RAFI-NAQVI @saichaitanyaraju ! I'm one of the MozFest wranglers for the openness space. I had one quick question - your session looks interesting, but it also looks like there's quite a lot to do. How were you planning to fit this into 90 minutes? I'm also curious - how would you handle if most of your participants don't have laptops or are non-technical?

[2018-08-25 16:27] yochannah commented on #612
Hey @prashanthrock and @thomaswillz !

I'm one of the MozFest wranglers for the openness space. I had one quick question - your session looks interesting, but it also looks like there's quite a lot to do. How were you planning to fit this into 90 minutes? I'm also curious - how would you handle if most of your participants don't have laptops or are non-technical?

[2018-08-25 17:10] yochannah commented on #713
Hey @dompates! This session sounds fun, and I really want to see that list of 241 things 😁. I'm one of the Openness wranglers for MozFest. We're reviewing applications at the moment and had a quick question - presumably you can't go over _all_ of your 241 open internet ideas in a 90 minute session. What was your planned approach?

[2018-08-25 17:12] yochannah commented on #738
Hey @rajasekharponakala ! I'm curious about the card games you've mentioned here. Can you tell me more? :)

[2018-08-25 17:18] yochannah commented on #724
Hey @RadiantIRIS !

I'm one of the Openness wranglers for MozFest. We're reviewing applications at the moment and had a quick question: MozFest is a really large, open space sub-divided into smaller spaces - and sound from the whole festival tends to carry, a lot. Given the noisy environment, does this affect your plans at all? It also sounds like you might need quite a bit of space - can you esti

[2018-08-25 17:28] yochannah commented on #719
No GitHub IDs - emailing lead facilitator instead:

[2018-08-25 17:33] yochannah commented on #623
Hey @natalia44 !

I'm one of the Openness wranglers team. We're still in the process of reviewing sessions, and we were wondering - if your session is eventually accepted, would you be willing/able to deliver in a shorter slot (e.g. 60 or 90 minute) rather than all weekend?

Background reason for asking: Lots of sessions have asked for all weekend slots, but our physical space is finite. If some s

[2018-08-25 17:38] yochannah commented on #540
No GitHub IDs in the issue - emailing facilitators.

[2018-08-25 17:48] yochannah commented on #521
Hey @cvitolo! This sounds like a nice programming tutorial about open data!

I'm one of the Openness wranglers for MozFest. We're reviewing applications at the moment and has a quick question: it's quite possible you'll have participants who turn up without a high level of technical skill and/or without laptops. If your session was accepted, how would you plan to work around these issues?

Thanks!

[2018-08-25 17:51] yochannah commented on #506
No GitHub ID provided - emailing facilitators:

[2018-08-25 19:19] dompates commented on #713
Ha - good question, @yochannah! No, definitely not expecting to use a session to go through all 241 ideas. Hope the answer below's not too long :)

Back in 2009, I attended a Barcamp in Brighton and took a conundrum there that I'd been wrestling with - whether to issue my collection of Flickr photos under a Creative Commons licence or not. It was a bit like crowdsourcing the decision, when I could

[2018-08-25 20:52] RadiantIRIS commented on #724
Dear Yo,

The noisy environment will not really affect our plans.  Some of the
Presence games can even be modified to be silent requiring visual and
tactile focus to bring people into the present.  We have a variety of
theatrical activities to choose from that can be dynamically adapted to our
circumstances.  The sound simply add to the challenge of maintaining focus
and Presence.

This is also tr

[2018-08-25 21:54] cvitolo commented on #521
Hi, good question!

I suppose I could have some demos that people without a laptop can follow
along.

Steps to retrieve the data are not complex, very minimal tech skills are
required.

On Sat, 25 Aug 2018, 19:48 Yo Yehudi, <notifications@github.com> wrote:

[2018-08-25 22:16] bunnybooboo commented on #78
Hi there Evelyn and Hans!! I'm delighted to announce that we are accepting your excellent session proposal into the Mozfest 2018 schedule. Please look out for further email communications from us in the coming days.

[2018-08-25 22:23] danielryne commented on #109
@yochannah thanks!

[2018-08-25 22:25] danielryne commented on #507
Thanks for the heads up, y'all!

[2018-08-25 22:26] bunnybooboo commented on #363
We're excited to inform you that we will be accepting this session into the Mozfest 2018 schedule. Wahoo!! @MarechalPhD please watch out for further communications in the coming days. Looking forward to meeting you in London during October.

[2018-08-25 22:34] danielryne commented on #447
Thanks @yochannah !!

[2018-08-25 22:37] danielryne commented on #627
Hey @emrysgreen thanks for tagging us! I'll bring it to the group and we'll take a look this week.

[2018-08-26 11:02] blesajb commented on #343
We would be more than happy to receive comments to streamline our Session.

[2018-08-26 11:18] yochannah commented on #506
Response:

[2018-08-26 12:05] bunnybooboo commented on #138
I'm delighted to inform you @tedarbyshire @anirbanbasu @LaurieJ that we will be accepting your session into Mozfest 2018's program schedule! :raised_hands:

Please look our for further Mozfest Production emails in the coming days.

cc/ @acabunoc

[2018-08-26 12:36] bunnybooboo commented on #325
Hello @aubriejohnson!! I'm excited to inform you that we're accepting your session proposal into the Mozfest schedule for 2018. Please look out for production emails in the days ahead. See you in October. :grin:

[2018-08-26 12:52] bunnybooboo commented on #619
@anant90 we're eager to let you know that we're accepting this session proposal of yours into the Mozfest 2018 schedule. Please look out for Mozfest Production emails in the coming days. :tada:

[2018-08-26 12:53] poush commented on #358
@ryanwarsaw I respect the decision of Web Literacy Wranglers to not to select my session. Just one query, will I be able to ask for some feedback, after the selection process, on my submission? It will be very helpful to me. Thanks.

[2018-08-26 17:26] rajasekharponakala commented on #738
Hi @yochannah, I was inspired by a blog post which was about learning open licenses by playing games. That workshop was from Pan African Open Advocacy Programme at Siyavula, Africa.

They used a remix-concept. For example, there is a group of five people. Each person has some cards which represents the CC license works like audio, video etc,. If a card has a CC-BY and an another card has CC-BY-SA,

[2018-08-26 20:44] ryanwarsaw commented on #358
@poush If you want the notes from curation, sure. Just because our space didn't accept the proposal, that doesn't imply that there was an issue with your proposal. I removed the milestone so that this could be considered by other spaces, so it is not a formal rejection in any manner.

[2018-08-26 21:40] yochannah commented on #738
That makes sense and sounds pretty cool - thanks for sharing! :)

[2018-08-26 21:55] bunnybooboo commented on #178
The Privacy and Security team are thrilled to accept this session into our space for the Mozfest 2018 schedule.
No github handle privided. Escalate to email. Please look out for production emails in the days ahead, Peter.
https://twitter.com/MozFestPrivSec/status/1033835334696615936

[2018-08-27 01:13] rajasekharponakala commented on #738
Welcome! :)

[2018-08-27 03:47] tiagofassoni commented on #719
Hello!

(weird my github ID didn't appear. Sorry for the trouble).

I intend to use grove modules from seeed studio, mostly the [Dust Sensor](https://www.seeedstudio.com/Grove-Dust-Sensor-PPD42N-p-1050.html), [VOC Sensor](https://www.seeedstudio.com/-Grove---VOC-and-eCO2-Gas-Sensor-(SGP30)-p-3071.html), and [this
 sensor that detects, among others, NO2 and CO](https://www.seeedstudio.com/Grove---M

[2018-08-27 07:45] evelynaustin commented on #78
Wow, that's great news, thanks so much! :)

[2018-08-27 08:26] thewavingcat commented on #178
Thanks, excited this is happening!

[2018-08-27 10:01] muraldouglas commented on #19
Hi @yochannah! Seeing as @flowdeeps and @naomiaro haven't responded quickly, I can try to give my own perspective: The multimedia stories formats being promoted by the social media platforms (Instagram Stories, Facebook Stories, Snapchat stories, etc.) are completely closed in format and are tied to those platforms. Our own approach is that if you own your multimedia stories' source code, you can

[2018-08-27 10:17] bunnybooboo commented on #576
Confirming receipt of necessary travel documentation. Escalating to Mozfest Travel. ✈️

[2018-08-27 10:28] KadeMorton commented on #276
@bunnybooboo

[2018-08-27 11:12] bunnybooboo commented on #466
Following a stupid error of mine and rapid escalation with @MozillaFestival/2018-decentralisation-wranglers I can now make things official..

We're thrilled to accept this session into the Privacy & Security space schedule for Mozfest 2018. Please look out for further Mozfest Production emails in the coming days @rysiekpl See you in October! 🙌

[2018-08-27 11:20] KadeMorton commented on #416
@bunnybooboo

[2018-08-27 11:21] rysiekpl commented on #466
Thank you! Really looking forward to it.

[2018-08-27 11:26] KadeMorton commented on #129
@bunnybooboo

[2018-08-27 11:51] saichaitanyaraju commented on #613
Thank you @yochannah I have breakdown the session timings below. Please have a look and let me know if you need to know anything more.
Introduction on knowledge graphs - 15 mins
Demo                                               - 10 mins
Explanation on probabilistic model
and Embedded model                     - 20 mins
Hands on                                         - 30 mins
Explanation and di

[2018-08-27 13:14] maboa commented on #716
Thanks Tiago. Get back to you soon!

[2018-08-27 14:49] GrantBaker22 commented on #353
Hi Andrew,

Sincere apologies for the delayed response, we just saw this. Azza didn't get a GitHub notification and my account was not connected to the proposal. We hope you are still considering applications.  We intended to put rules in the initial answers, but due to the word limit constraints, we couldn't. We have been workshopping this game in earnest for two months now and we are on the thir

[2018-08-27 16:24] tinagoetschi commented on #512
Hi Anna! We like you session. What will you process for getting youth input be? We'd liked to make sure this isn't a demo for Smartify and rather an interactive, Mozfest-y session? We'd love to help you with this if you'd like? Thanks Tina

[2018-08-27 16:26] chadsansing commented on #666
@caltrider, can you share a bit more about how you'd both teach some storytelling, but also hold space for youth storytelling here?

[2018-08-27 18:51] natalia44 commented on #623
Hi @yochannah - I hope you have a great openness wrangler experience (I was one last year;). Ofc, if the only option to be present at Mozfest is to make the session shorter, we're happy to do so. But the perfect scenario would be to have a stand for a day only:)

[2018-08-27 23:36] anantjain-xyz commented on #619
Thanks, @barrosgeraldo! Looking forward to Mozfest in October 🚀

[2018-08-28 08:48] tedarbyshire commented on #138
Fantastic! Thank you!
Looking forward to hearing what the next steps are 🎉 👍 😄

[2018-08-28 12:44] xynosis commented on #544
@emrysgreen Thanks for your question, sorry it's been taking so long for me to reply, I finished my Master's last Friday so it's been a bit hectic!

Scheduling wise:

1. Young people living through precarity will present some things about their experiences to provide context (10-15 minutes)
2. A 60 minute hackathon where attendees will work in mixed groups to develop a prototype or some kind of re

[2018-08-28 13:48] chadsansing commented on #544
Thank you for this information, @xynosis!

[2018-08-28 16:23] JazzBrotha commented on #420
Sorry for the late reply @danielryne! They will be testing on different machines. I think we can count on people bringing their own equipment, at least when it comes to the phones. The key is really that we can test on Windows, iOS (phone and laptop), and Android.

[2018-08-28 18:00] chadsansing commented on #343
@MozillaFestival/2018-decentralisation-wranglers & @MozillaFestival/2018-openness-wranglers - take a look here?

[2018-08-28 18:05] chadsansing commented on #291
@arroway, is this Youth Zone facing right now? Apologies - got lost in the moves above :)

[2018-08-28 18:24] jurra commented on #169
yes we could reduce it if necessesary. Its ok :)

On Wed, Aug 22, 2018 at 5:56 PM Yo Yehudi <notifications@github.com> wrote:

[2018-08-28 19:21] chadsansing commented on #202
@dangjavageek and @Macgeoffrey, also, would it be possible to highlight the way the code collects and uses data in light alignment with the festival theme of Your Data & You?

[2018-08-28 19:26] tinagoetschi commented on #244
Hi @DigitalGrassroots
We like your proposal, but just to be clear about stipends  - if this were granted it would cover only one facilitator. Would you still be able to run your session if this were the case?

thanks
Tina

[2018-08-28 19:28] gbaman commented on #244
Also @DigitalGrassroots @noha182 is there any details of the game published online? Images etc?

[2018-08-28 21:00] yochannah commented on #540
From Sarah:

[2018-08-28 21:50] bunnybooboo commented on #388
:tada: WahOoooOoh!! :tada:  Paola we're bringing your great session into our Mozfest 2018 schedule. Look out for emails from our teams in the coming days. Looking forward to meeting you!

[2018-08-28 22:05] bunnybooboo commented on #572
:mega: Juliana we're bringing your empowering proposal into our Mozfest 2018 schedule. Look out for emails from our teams in the coming days. Really looking forward to meeting you in :gb: London this October!

[2018-08-28 23:02] CodeComMerg commented on #485
Hi Yo,
I was wondering that my proposed session is removed from openness, is it added to some other space?
Thanks!

[2018-08-29 03:03] dangjavageek commented on #202
@tinagoetschi thanks very much - for the scratch edition we are able to use the provided green math blocks in scratch so that it's literally drag and drop - we've done workshops with students as young as 9 and as old as, well, whoever wants to attend with raspberry pi and other desktops - some sample materials are on https://www.dropbox.com/s/p49xj4pb6z3pwnp/ccasteroids01.pdf?dl=0 if you want to c

[2018-08-29 03:14] dangjavageek commented on #202
@chadsansing we certainly can add facility to collect data for the game and use the data for some things like high score lists and so on, as a way to get the students thinking about your data & you, that's an excellent idea and I will add that to the materials at
https://www.dropbox.com/s/p49xj4pb6z3pwnp/ccasteroids01.pdf?dl=0 to reinforce the concept - fortunately there are very specific policies

[2018-08-29 04:31] prashanthrock commented on #612
Thank you @yochannah for your intrest, here is a list on what we have planned to conduct in our session,
Introduction to Unity  - 15 mins
Demo  - 10 mins
Hands on - 50 mins
discussions Q&A - 15 mins
Laptops are not mandatory and most of the session can be conducted using a VR headset,projector and a laptop. If the participants are non technical they can be taught in the Hands-on session and moreov

[2018-08-29 09:44] geocontrol commented on #593
Just to add, during our Lab at Music Tech Fest next week I am going to run a session or two based on the ODIs toolkit for data ecosystem mapping https://theodi.org/article/mapping-data-ecosystems/ around the music industry / music culture space.

[2018-08-29 10:51] chadsansing commented on #202
Thank you for sharing your thinking here, @dangjavageek!

[2018-08-29 12:54] anubhamane commented on #506
Sorry I forget to update my Github ID.

[2018-08-29 13:25] KristineGrivcova commented on #526
Hi Mauricio, the session looks very interesting. Is the API open and how much coding experience would participants need?

Thanks,
Kristine

[2018-08-29 13:27] marcwalsh opened #745 "Miniature Glass Room"
[ Session Name ] Miniature Glass Room
[ Primary Space ] Privacy and Security

[ Submitter's Name ] Rose Regina Lawrence
[ Submitter's Affiliated Organisation ] Tactical Tech
[ Submitter's GitHub ]

[ Other Facilitator 1's Name ] Cade Diehm
[ Other Facilitator 1's GitHub ] @shibacomputer

### What will happen in your session?

From the Cambridge Analytica revelations in the spring of 2018, the publ

[2018-08-29 13:28] KristineGrivcova commented on #32
Hi @Nolski ! Would the session include some kind of interactive part in addition to the presentation?
Thanks,
Kristine

[2018-08-29 13:36] saoun commented on #232
Update on this: no stipend requested

[2018-08-29 13:37] saoun commented on #258
update on this: no stipend needed

[2018-08-29 14:12] Nolski commented on #32
Hi Kristine!

So what I was thinking is that it will start off as a presentation for perhaps 15 minutes to lay the concepts and current work that has been done so far to give the audience a good base to begin discussion. I hope after that, my role as the presenter will be to foster discussion among audience members.

I plan to do that by employing a few strategies:

- Having a list of contexts to

[2018-08-29 16:28] arroway commented on #291
@chadsansing it's still in the Queering milestone, but it'll make more sense to move it to the Youth Zone milestone for scheduling. Feel free to update the milestone, I'll still be able to track everything with the "queering xp" label!

[2018-08-29 16:34] MisaRojo commented on #435
Thank you, yes, let me check with the team and get back to you.

[2018-08-29 16:38] chadsansing commented on #291
Thank you, @arroway!

[2018-08-29 18:22] bunnybooboo commented on #471
:smiley_cat: Hiya @emceeaich we'd absolutely love for your session to be included in this year's Mozfest schedule. Please look out for emails from our team in the coming days. Really looking forward to seeing you in London! :sparkles:

cc/ @arroway

[2018-08-29 18:39] emceeaich commented on #471
I'm delighted to accept!

[2018-08-29 19:04] Girls2Geeks commented on #440
@chadsansig In the past, I have enjoyed working with SketchUp, incorporating the styles of recognisable artists, such as Mondrian, into designs that would be easily assossiated with their work, so I think this could also work as a theme. Alternatively, famous buildings already in existence and landmarks (maybe even specifically in London?) could also work as a theme for those who have experience o

[2018-08-29 19:16] chadsansing commented on #440
Thank you for the extra information, @Girls2Geeks.

[2018-08-29 19:48] chadsansing commented on #417
In the past, we've not had a large audience of educators in our particular space (though many educators attend MozFest). Would you be willing to gear this entirely towards a youth audience, @nrickus?

[2018-08-29 20:50] bunnybooboo commented on #529
Hey hey @elioqoshi we have newsy news! We'd really like for you to join us in London in October for Mozfest 2018. We really like this top session and want you part of the Privacy & Security space. Please look out for further emails from our team in the coming days.
:grin: :+1:

[2018-08-29 21:06] bunnybooboo commented on #258
@saoun in which case I'm delighted to immediately escalate this session as accepted for the Privacy & Security space. Plese look for emails from our teams in the coming days.

https://twitter.com/MozFestPrivSec/status/1034910099725340678

[2018-08-29 21:31] bunnybooboo commented on #570
Alexandra we love this idea! The Privacy and Security team are 100% going to accept your session for Mozfest 2018. WOooohhh yesssssss!! Watch for those emails from us in the coming days.

https://twitter.com/MozFestPrivSec/status/1034914410882584578

[2018-08-29 21:47] gbaman commented on #669
Note the session details above have been edited from a placeholder session to a full session.

[2018-08-30 04:33] Palmaswell commented on #526
Hi Kristine,

Thanks so much for your feedback 😊.
The API is public and the prepared app will be made public too.

It is desirable if the attendees have intermediate coding experience, nevertheless we will be doing mob programming and anyone can participate Whatever your coding experience.

Let me know if you have any further questions.

All the best,

Mauricii

[2018-08-30 07:03] Btayeg commented on #29
Hi @b-meson, can you give us a bit more info about the interactive component of this session?

[2018-08-30 07:10] Btayeg commented on #31
@omudongo is your primary space selection Web Literacy or Youth Zone?

[2018-08-30 07:13] Btayeg commented on #316
Hello @MozillaFestival/2018-openness-wranglers &  @MozillaFestival/2018-privacy-and-security-wranglers, would you be interested in this session?

[2018-08-30 07:23] Btayeg commented on #303
@belenbarrospena, Hi Belen, great session. Please make sure your consent request is as explicit as possible - it should adequately describe how people's data will be used, who it will be shared with, how it will be stored, and where they can find their stories after Mozfest.

[2018-08-30 07:28] Btayeg commented on #577
@sakthianand7 @Tejaswisony @thomaswillz, hi there, It's great that this session aims to show/teach participants how to create a virtual animation and how to wrap around a real-world object. Can you tell us a bit more about how you intend to do that? @AngelJum

[2018-08-30 07:29] Btayeg commented on #635
@MozillaFestival/2018-openness-wranglers, would you guys want to pick this one?

[2018-08-30 07:43] Btayeg commented on #238
@swalehabubakarahmed, @shey02, @mukhtar80, hi there, can you tell us a bit more about how you plan to make this session interactive? @WinnieMakokha

[2018-08-30 07:46] Btayeg commented on #155
@MozillaFestival/2018-production,  this session will need an interpreter of sign language.

[2018-08-30 07:52] Btayeg commented on #71
@poshaughnessy @AVGP @thisisjofrank, do you guys have updates for us?

[2018-08-30 08:36] rzr commented on #690
The talk will also mention about Open Source hardware for prototyping,
as some new boards are now supported in:

https://github.com/mozilla-iot/webthing-node/tree/master/example/platform/board

[![PlayPHat](https://camo.githubusercontent.com/19757d01e0c0a4cd0f34d18826b1018b43dbf787/68747470733a2f2f7062732e7477696d672e636f6d2f6d656469612f446c31585a7564583441415330376b2e6a7067#playphat.png)](https:/

[2018-08-30 10:05] ashwin-phadke commented on #132
I would like to know the update about the proposal, so that I could further the data collection.

[2018-08-30 10:15] nrickus commented on #417
I was hoping the outcome of the session would be something educators could use, rather than it being a programming session solely for young people. Perhaps it could sit in the “Digital Inclusion” space?

Neil

On 29 Aug 2018, at 20:48, Chad Sansing <notifications@github.com<mailto:notifications@github.com>> wrote:

In the past, we've not had a large audience of educators in our particular space (t

[2018-08-30 10:21] ajayetikala commented on #614
@KadeMorton
Dear Kade,

I am sorry for missing this under so many notifications from Github, (I am new here :( ) I feel that this comes under decentralisation because once common people get sensitize about the impact they are creating towards environment unknowingly through their basic daily eating habits and other lifestyle things. If they are provided tools to take the first steps then they can

[2018-08-30 10:49] chadsansing commented on #417
Thank you for the feedback, @nrickus.

[2018-08-30 11:56] Saallen commented on #155
We can help with that- @marcwalsh will reach out

[2018-08-30 14:20] jenntbeard commented on #316
Hi @Btayeg we have a good, solid set of sessions and don't feel like this will fit tightly enough within P&S, thanks for asking though!

[2018-08-30 16:48] dmarti commented on #702
Related session proposal: https://github.com/MozillaFestival/mozfest-program-2018/issues/493

Browser extension (work in progress): https://github.com/SociallyCompute/Global-Consent-Manager

[2018-08-30 17:05] itzelmv commented on #155
Thank you so much for the support to Sign Language in order  to achieve language  inclusion of Deaf people whose language is the Sign Language. In countries with less development, Sign Language is   also their only means of communication since they do not access to other professional and constant means of communicative support.  Therefore, my sincerely gratitude for your support.

[2018-08-30 17:41] anirbanbasu commented on #138
Excellent, thanks a lot!

[2018-08-30 19:05] yochannah commented on #516
pinging @KadeMorton and @MozillaFestival/2018-digital-inclusion-wranglers

[2018-08-30 19:25] marenff commented on #112
Hej @yochannah, I think it is possible to deliver it in 90 minutes. It depends on space and people. Could you give me an idea how big the space is and how many people on average could be expected. Than I can think about a timeline and update the proposal.

[2018-08-30 19:34] marenff commented on #112
@KadeMorton I've been having a few (or probably more ;) ) conversations with people about the Xenshana theme. In the end we came up with the idea to make it an open space around the question "What does the experience of learning look like in Xenshana and what can we learn from it for our world". We decided in favor of learning and against education as to make it more open and give people the chanc

[2018-08-30 22:18] bunnybooboo commented on #429
Yo team!! You're coming to Mozfest!!! We're excited to accept this great proposal. Guardians of the Galaxy.. I mean COME ON :grin:  we had to

Watch for emails from our team in the coming days..

[2018-08-30 22:28] bunnybooboo commented on #10
We want you in Mozfest 2018 @AndresCuervo. This sounded COOOL. We'll send you acceptance emails in the coming days. Congratulations!

https://twitter.com/MozFestPrivSec/status/1035292953353306112

[2018-08-30 22:45] bunnybooboo commented on #641
Hiya @rorymbyrne we're so excited to inform you we'd love to see this session at Mozfest 2018!. Congratulations!! Please watch for emails from our team in the coming days.

https://twitter.com/MozFestPrivSec/status/1035296980216504320

[2018-08-31 01:10] barrosgg commented on #57
Hi @khalid32,

Thank you so much for propose CSS3 is FUN! activity to MozFest 2018! We are excited to continue reviewing your proposal and are curious on how technical it is. Who is able to participate and get engaged in the activity workflow? Is this an activity for beginners? experts? developers? all ages, levels and skills?

We appreciate your activity and so we want to know more to continue, t

[2018-08-31 01:24] barrosgg commented on #271
Hi @Jayapreethi,

Thank you for applying this activity to MozFest 2018! We are reviewing your activity and we have some questions in mind, such as: how technical is your activity? can people any skills and levels get engaged?

The description looks like a technical activity, it is not possible to fully understand if it is an inclusive, participatory, fun and engaging activity. Feel free to provide

[2018-08-31 01:36] barrosgg commented on #349
Hi Rabimba,

Thank you so much for apply this session to MozFest 2018! We're reviewing your session now and I would like share our team concern about the personal data collected during Burst the Bubble session.

Here we have some questions:
- How will the data be collected?
- Who will have access to the data?
- How will you ensure that the people who participate in your session are informed and aw

[2018-08-31 01:40] barrosgg commented on #661
Hi @sayak-sarkar,

Thank you so much for apply your session to MozFest 2018! We're reviewing this session now and I would like to know if this session is for beginners or advanced web users?

Cheers, :unicorn:

[2018-08-31 07:05] cwervo commented on #10
Awesome, thanks, looking forward to it!!

[2018-08-31 08:27] bunnybooboo commented on #438
We're thrilled to take on this session for Mozfest 2018. Escalating team emails shortly.

https://twitter.com/MozFestPrivSec/status/1035432686742110208

cc/ @acabunoc

[2018-08-31 08:30] bunnybooboo commented on #522
Jumping in hear to telling you we're accepting this session into Mozfest 2018. Looking forward to meeting you in London during October. Emails will be escalated shortly, watch out for those from our team.

https://twitter.com/MozFestPrivSec/status/1035429845059166208

[2018-08-31 08:33] bunnybooboo commented on #586
We're thrilled to share your acceptence in Mozfest 2018. Watch out for emails from out team soon. They'll explain what happens next. Have a great weekend!

https://twitter.com/MozFestPrivSec/status/1035427874705207297

[2018-08-31 09:03] sidtechnical commented on #162
Hi @bunnybooboo I see that the assignment and tags have been removed. Does this mean this proposal didn't make it to next round?

[2018-08-31 10:06] belenbarrospena commented on #303
Hi @Btayeg

Thanks for the nice comment :)

I am unsure as to the status of the session, though. Is it accepted? Is it accepted on condition that I submit the consent form I will be using for you to review? Or no decision has been made yet?

I hope you can clarify: I'll be happy to provide the participant information document and the consent form I will use, so that you can make sure it ticks all

[2018-08-31 10:32] chadsansing commented on #401
@yomanpatil, would you please let us know if you would be able to attend MozFest without a stipend?

[2018-08-31 10:33] chadsansing commented on #353
@GrantBaker22, would you please let us know if you would be able to attend MozFest without a stipend?

[2018-08-31 10:33] chadsansing commented on #244
@DigitalGrassroots, @noha182, would you please let us know if you would be able to attend MozFest without a stipend?

[2018-08-31 10:33] chadsansing commented on #248
@hiteshcmonga, would you please let us know if you would be able to attend MozFest without a stipend?

[2018-08-31 10:34] chadsansing commented on #122
@zharkov, would you please let us know if you would be able to attend MozFest without a stipend?

[2018-08-31 10:34] chadsansing commented on #31
@omudongo, would you please let us know if you would be able to attend MozFest without a stipend?

[2018-08-31 10:34] chadsansing commented on #161
@dmfj, would you please let us know if you would be able to attend MozFest without a stipend?

[2018-08-31 10:35] chadsansing commented on #250
@dimonga, @hiteshcmonga, would you please let us know if you would be able to attend MozFest without a stipend?

[2018-08-31 10:35] chadsansing commented on #679
@no-carrier, would you please let us know if you would be able to attend MozFest without a stipend?

[2018-08-31 10:35] chadsansing commented on #106
@vipulgupta2048, would you please let us know if you would be able to attend MozFest without a stipend?

[2018-08-31 10:35] chadsansing commented on #342
Rabimba & AVisha, would you please let us know if you would be able to attend MozFest without a stipend?

[2018-08-31 10:36] chadsansing commented on #684
@elpiniki, would you please let us know if you would be able to attend MozFest without a stipend?

[2018-08-31 10:36] chadsansing commented on #637
@sayak-sarkar, would you please let us know if you would be able to attend MozFest without a stipend?

[2018-08-31 10:36] chadsansing commented on #600
Uada, would you please let us know if you would be able to attend MozFest without a stipend?

[2018-08-31 10:37] chadsansing commented on #460
@Veerskyfire, would you please let us know if you would be able to attend MozFest without a stipend?

[2018-08-31 10:37] chadsansing commented on #110
@siclemx, would you please let us know if you would be able to attend MozFest without a stipend?

[2018-08-31 10:38] chadsansing commented on #243
@hiteshcmonga, would you please let us know if you would be able to attend MozFest without a stipend?

[2018-08-31 10:41] GrantBaker22 commented on #353
Hi Chad,

I think the answer is likely no if we would have to cover airfare, hotel, and per diems, but we will check with our executive director before we give a final answer. Also, just to clarify, are you asking if either facilitator would be able to attend without a stipend, or just me? Thanks.

[2018-08-31 10:44] chadsansing commented on #353
In cases where we offer stipend, it is generally for 1 facilitator per session. Thank you for checking on this, @GrantBaker22!

[2018-08-31 10:47] GrantBaker22 commented on #353
Ok good to know, thanks for the heads up. If you need any other materials, please don't hesitate to let us know. And we will continue to provide updates on the game in this thread until a decision is made.

[2018-08-31 10:55] yomanpatil commented on #401
Hello @chadsansing !
I can only attend mozfest if I get Stipend. :)

[2018-08-31 10:58] chadsansing commented on #401
Thank you for the quick response, @yomanpatil.

[2018-08-31 11:59] bunnybooboo commented on #207
Hey @savirumki we're proud to announce that our team is ACCEPTING this session into the Mozfest 2018 schedule. It was one of the best in sticking to our theme! Please look for further emails from our teams in the coming days. 🛫

[2018-08-31 12:39] hiteshcmonga commented on #248
Hi @chadsansing , unfortunately I cannot attend without stipend. I am currently studying so it is not possible for me attend without stipend

[2018-08-31 12:39] hiteshcmonga commented on #243
Hi @chadsansing , unfortunately I cannot attend without stipend. I am currently studying so it is not possible for me attend without stipend

[2018-08-31 12:40] dmfj commented on #161
@chadsansing - likely not, unfortunately

[2018-08-31 12:45] chadsansing commented on #161
Thank you for the information, @dmfj.

[2018-08-31 12:45] chadsansing commented on #248
Thank you for the information, @hiteshcmonga.

[2018-08-31 14:18] vipulgupta2048 commented on #106
Hi @chadsansing, I really couldn't. I wish my proposal won't be rejected on the basis of this. I really worked hard on it.

I checked very considerately from my side as well  if I could travel to London from India. The flight tickets are way too expensive, and on addition  the visa, accomodation and other expenses that I would be glad if it were included. I really can't, I am just a student with n

[2018-08-31 14:21] srdesh commented on #57
Hello @barrosgeraldo

Actually Im the main facilitator for this proposal and @khalid32 is the co-facilitator.  Thank you for your reply and showing more interest to our submitted proposal.

This topic is focused for the beginners and mid range web developer who have minimum knowledge of HTML and CSS. There is not boundary for age limitation. People of all ages can join or participate.

But as per

[2018-08-31 14:32] DigitalGrassroots commented on #244
@chadsansing @gbaman @tinagoetschi

Thank you for your interest in our session. We are very excited.

At least one and if possible, two members of our team will need stipend in order to attend Mozfest. Given our two youths to attend with funding are from Nigeria and Congo DR, respectively, it will be near impossible to be granted a visa without funding.

Thank you for understanding, and our sincer

[2018-08-31 14:39] chadsansing commented on #106
Thank you for the extra information, @vipulgupta2048 -

[2018-08-31 14:39] chadsansing commented on #244
Thank you for the extra information, @DigitalGrassroots -

[2018-08-31 15:27] kgiori commented on #164
Good news! I have confirmed up to 40 micro:bit boards being donated by Nordic Semiconductor for this workshop. The youth will love them!

[2018-08-31 15:30] kgiori commented on #164
@gbaman -- and if this workshop can be hosted where there are RPi's available, we can show how to sense and control LEDs, buttons, temp, xyz position, etc, on the micro:bit, from the Mozilla Things Gateway GUI. In other words, kids will learn MicroBlocks and how to interact via a web GUI hosted by the RPi and viewed thru, naturally, Firefox. :)

[2018-08-31 15:38] bunnybooboo commented on #162
@sidtechnical I'm afraid so. I know you have others still in the running. This one did make it to the shortlist, so was still great and you should feel proud. And a really great team behind it too! We can only take a tiny fraction though.

Passed to Web Literacy's to-do pile now. You'll be notified by Sept 10.

[2018-08-31 17:12] elpiniki commented on #684
Hello @chadsansing - I will not be able to attend without a partial stipend. I will need only flight tickets; I can support my accommodation. Also, I have applied for Mozilla Open Leaders (OL6), and for two more sessions as first facilitator with links: https://github.com/MozillaFestival/mozfest-program-2018/issues/680 and https://github.com/MozillaFestival/mozfest-program-2018/issues/677, in case

[2018-08-31 17:16] chadsansing commented on #684
Thank you for this extra information, @elpiniki.

[2018-08-31 17:24] omudongo commented on #31
@Btayeg I want to believe that this session could fit in both spaces but I preffer the Youth Zone since they are the most critical netizens who need this lesson more. This is a necesarry discussion to have regardles of the age group BTW for as long as the toning of the subject is targeted to the age group.

@chadsansing I would have really loved to explore other avenues to fund myself to participa

[2018-08-31 17:26] chadsansing commented on #31
Thank you for this information, @omudongo.

[2018-08-31 19:22] dimonga commented on #250
@chadsansing  we won't be able to attend without stipend

[2018-08-31 20:02] bunnybooboo commented on #60
Yaaaayyyyyy!! Nice ethics session that is a much needed conversation in EVERY tech gathering. We're excited to accept your session to Mozfest 2018  @klmedeiros. Please look for email escalations in the coming days.

https://twitter.com/MozFestPrivSec/status/1035618011242262528

[2018-08-31 20:12] bunnybooboo commented on #690
How could we say no?? @rzr you've been accepted to the Mozfest 2018 schedule. Please look for email escalation from our team in the coming days.

https://twitter.com/MozFestPrivSec/status/1035620604051955712

[2018-08-31 20:23] bunnybooboo commented on #232
@saoun we'd love to this one in our PrivSec space too. We'll schedule appropriately. Chat soon and have an amazing weekend!

https://twitter.com/MozFestPrivSec/status/1035623163433046016

[2018-08-31 20:42] zee-moz commented on #103
Hi @bashybaranaba,  I’m writing on behalf of the Digital Inclusion wrangler team for MozFest 2018. Thank so much for your proposal— your session looks really great! I’m following up on your request for a stipend. We reserve stipends for those who would not be able to attend MozFest  without a stipend (no support from employers, schools, or other institutions, and no other resources to get them to

[2018-08-31 22:57] Uada0 commented on #600
Yes, I can attend MozFest without a stipend

[2018-09-01 04:10] KadeMorton commented on #112
That sounds amazing. Looking forward to hopefully seeing this session!

[2018-09-01 09:48] bashybaranaba commented on #103
Yes, I do require the stipend to attend MozFest 2018.

[2018-09-01 10:37] bunnybooboo commented on #702
Congratulations! Session accepted into the Mozfest 2018 schedule. Email escalations shortly.

https://twitter.com/MozFestPrivSec/status/1035838185958502400

[2018-09-01 11:02] swalehabubakarahmed commented on #238
we will have ice breakers in between activities.
audience will be involved in doing a web search by posting their questions on an etherpad
there will also be a question and answer session where we shall invite questions from the audience
finally, we will hold a brainstorming question to look at more alternative approaches either in existence and or concepts for potential research and development.

[2018-09-01 11:04] bunnybooboo commented on #737
Happy to inform you that your session has been accepted in the Mozfest 2018 schedule. Lookout for emails in the coming days. See you in October!

https://twitter.com/MozFestPrivSec/status/1035845310789152768

[2018-09-01 11:17] chadsansing commented on #600
Thank you the extra information, @uada0.

[2018-09-01 11:21] bunnybooboo commented on #659
Flagging for the attention of PrivSec team. Teams are deliberating right until September 10. Adding this to my teams discussion. :+1:

[2018-09-01 11:41] bunnybooboo commented on #555
Following for PrivSec team consideration. Deliberation is happening right through to September 10. :smile:

[2018-09-01 11:46] bunnybooboo commented on #484
Escalated to PrivSec team discusssion. :heavy_check_mark:

[2018-09-01 11:53] madprime commented on #659
Thanks! I'm adding a photo link: https://photos.app.goo.gl/AXNXGXkV5HSVd8Qf8

This is the product of a design session I ran during "open space" sessions at MyData 2018, on Thursday. :art: :world_map: :chart_with_upwards_trend: :computer: :smile:

[2018-09-01 11:58] madprime commented on #659
Oh, more info -- we were brainstorming using an underlying database model like Open Street Map (anyone can write & define new tags, see: https://wiki.openstreetmap.org/wiki/Any_tags_you_like) to encourage collective use of a shared database mapping personal data ecosystems --  different stakeholders have different features they want in their map, but we think would benefit from doing it together w

[2018-09-01 12:17] pdehaye commented on #659
Just to say that @PersonalDataIO is highly supportive of this session! Depending on the state of the tool, we might be able to interact with the group "blind", i.e. through the server, but not physically in the room itself while the session is happening.

[2018-09-01 13:13] Jayapreethi commented on #271
Hello @barrosgeraldo , Thank You for your response first. I have answered your queries below.

The session has an intermediate activity where all genres of participants can take part. It is not mandatory to have any acquired specific skills to get engaged in this session. Basic knowledge on programming languages would be helpful but not compulsory.

The session will introduce the data visualizatio

[2018-09-01 13:57] Jayapreethi commented on #271
Hello @barrosgeraldo , Thank You for your response first. I have answered your queries below.

The session has an intermediate activity where all genres of participants can take part. It is not mandatory to have any  specific acquired skills to get engaged in this session. Basic knowledge on programming languages would be helpful but not compulsory.

The session will introduce the data visualizati

[2018-09-01 18:46] sakthianand7 commented on #577
Hey @Btayeg, Thanks for your response

We would be setting up a few 3D objects, participants will then model those objects and apply textures to it using UV map. We’ll teach the participants to create animations using After Effects separately for each surface. The 3D model and animated textures are then imported to Madmapper(Mapping software) to map the projection on to the object.

[2018-09-01 21:37] bunnybooboo commented on #486
Having had personal insight with this facilitator's experience of social media abuse, response tactics, community building and support, I know we have a lot to learn from this individual's determination. Escalating elsewhere and also seeking a response directly from her. I personally encouraged Ginny to apply, but seeing this proposal for the 1st time today.

[2018-09-02 05:38] ryanwarsaw commented on #213
Hey @tsl143, the Web Literacy team has reviewed your session and we think it's great! We have a question regarding your stipend request: will you be able to attend the festival in the event that we do not have a stipend available to allocate to you?

[2018-09-02 05:44] ryanwarsaw commented on #238
Hey @swalehabubakarahmed, the Web Literacy team has reviewed your session and we think it’s great. We have two questions for you regarding your stipend request. Will you or another facilitator be able to attend the festival in the event that we do not have a stipend available to allocate to you? Also are you or another facilitator able to successfully run this session in the situation where we are

[2018-09-02 05:45] ryanwarsaw commented on #278
Hey @satwikkansal, the Web Literacy team has reviewed your session and we think it's great! We have a question regarding your stipend request: will you be able to attend the festival in the event that we do not have a stipend available to allocate to you?

[2018-09-02 05:46] ryanwarsaw commented on #307
Hey @hiteshcmonga, the Web Literacy team has reviewed your session and we think it's great! We have a question regarding your stipend request: will you be able to attend the festival in the event that we do not have a stipend available to allocate to you?

[2018-09-02 05:47] ryanwarsaw commented on #349
Hey @rabimba, the Web Literacy team has reviewed your session and we think it's great! We have a question regarding your stipend request: will you be able to attend the festival in the event that we do not have a stipend available to allocate to you?

[2018-09-02 05:49] ryanwarsaw commented on #518
Hey @Tejaswisony, the Web Literacy team has reviewed your session and we think it’s great. We have two questions for you regarding your stipend request. Will you or another facilitator be able to attend the festival in the event that we do not have a stipend available to allocate to you? Also are you or another facilitator able to successfully run this session in the situation where we are only ab

[2018-09-02 05:49] ryanwarsaw commented on #539
Hey @poojapurswani, the Web Literacy team has reviewed your session and we think it’s great. We have two questions for you regarding your stipend request. Will you or another facilitator be able to attend the festival in the event that we do not have a stipend available to allocate to you? Also are you or another facilitator able to successfully run this session in the situation where we are only

[2018-09-02 05:50] ryanwarsaw commented on #577
Hey @sakthianand7, the Web Literacy team has reviewed your session and we think it’s great. We have two questions for you regarding your stipend request. Will you or another facilitator be able to attend the festival in the event that we do not have a stipend available to allocate to you? Also are you or another facilitator able to successfully run this session in the situation where we are only a

[2018-09-02 05:51] ryanwarsaw commented on #604
Hey @opensas, the Web Literacy team has reviewed your session and we think it's great! We have a question regarding your stipend request: will you be able to attend the festival in the event that we do not have a stipend available to allocate to you?

[2018-09-02 05:52] ryanwarsaw commented on #733
Hey @sayak-sarkar, the Web Literacy team has reviewed your session and we think it's great! We have a question regarding your stipend request: will you be able to attend the festival in the event that we do not have a stipend available to allocate to you?

[2018-09-02 05:54] ryanwarsaw commented on #464
Hey @earnestm, the Web Literacy team has reviewed your session and we think it’s great. We have two questions for you regarding your stipend request. Will you or another facilitator be able to attend the festival in the event that we do not have a stipend available to allocate to you? Also are you or another facilitator able to successfully run this session in the situation where we are only able

[2018-09-02 05:54] ryanwarsaw commented on #525
Hey @barbayellow, the Web Literacy team has reviewed your session and we think it’s great. We have two questions for you regarding your stipend request. Will you or another facilitator be able to attend the festival in the event that we do not have a stipend available to allocate to you? Also are you or another facilitator able to successfully run this session in the situation where we are only ab

[2018-09-02 05:56] ryanwarsaw commented on #549
Hey @nextLane, the Web Literacy team has reviewed your session and we think it's great! We have a question regarding your stipend request: will you be able to attend the festival in the event that we do not have a stipend available to allocate to you?

[2018-09-02 05:57] ryanwarsaw commented on #622
Hey @f4bs, the Web Literacy team has reviewed your session and we think it’s great. We have two questions for you regarding your stipend request. Will you or another facilitator be able to attend the festival in the event that we do not have a stipend available to allocate to you? Also are you or another facilitator able to successfully run this session in the situation where we are only able to p

[2018-09-02 05:59] ryanwarsaw commented on #29
Hey @b-meson, the Web Literacy team has reviewed your session and we think it's great! We have a question regarding your stipend request: will you be able to attend the festival in the event that we do not have a stipend available to allocate to you?

[2018-09-02 06:00] ryanwarsaw commented on #155
Hey @itzelmv, the Web Literacy team has reviewed your session and we think it's great! We have a question regarding your stipend request: will you be able to attend the festival in the event that we do not have a stipend available to allocate to you?

[2018-09-02 06:00] ryanwarsaw commented on #317
Hey @arkodyuti, the Web Literacy team has reviewed your session and we think it’s great. We have two questions for you regarding your stipend request. Will you or another facilitator be able to attend the festival in the event that we do not have a stipend available to allocate to you? Also are you or another facilitator able to successfully run this session in the situation where we are only able

[2018-09-02 06:01] ryanwarsaw commented on #443
Hey @anistuhin, the Web Literacy team has reviewed your session and we think it's great! We have a question regarding your stipend request: will you be able to attend the festival in the event that we do not have a stipend available to allocate to you?

[2018-09-02 06:01] ryanwarsaw commented on #726
Hey @meagdoh, the Web Literacy team has reviewed your session and we think it's great! We have a question regarding your stipend request: will you be able to attend the festival in the event that we do not have a stipend available to allocate to you?

[2018-09-02 06:03] ryanwarsaw commented on #21
Hey @vi5halc, the Web Literacy team has reviewed your session and we think it's great! We have a question regarding your stipend request: will you be able to attend the festival in the event that we do not have a stipend available to allocate to you?

[2018-09-02 06:03] ryanwarsaw commented on #488
Hey @maretoli, the Web Literacy team has reviewed your session and we think it’s great. We have two questions for you regarding your stipend request. Will you or another facilitator be able to attend the festival in the event that we do not have a stipend available to allocate to you? Also are you or another facilitator able to successfully run this session in the situation where we are only able

[2018-09-02 06:15] ryanwarsaw commented on #137
Contacted the facilitator via email for additional questions.

[2018-09-02 06:15] opensas commented on #604
Thanks a lot for your reply. I'm really happy that you liked my proposal.

I don't think I could affford the airplane ticket to London (it's rather
expensive for us), but I guess I could support the rest of the expenses
(accommodation, food, travel around, etc.)

BTW, in the last media party <http://mediaparty.info/en/> I presented a
workshop similar to the proposal I sent you (it is a valuable ex

[2018-09-02 06:19] ryanwarsaw commented on #160
Contacted the facilitator via email for questions.

[2018-09-02 06:23] ryanwarsaw commented on #530
Contacted facilitator by email for questions.

[2018-09-02 06:27] ryanwarsaw commented on #618
Contacted facilitator by email for questions.

[2018-09-02 06:29] arkodyuti commented on #317
Hello @ryanwarsaw

Thanks for the positive response to our proposal for Mozfest 2018.

Actually, the session involves a demo as well and a descriptive talk which would require two of us ie. Me and Shubham(who's is my co-facilitator) facilitating it together taking up the session parallelly with the audience.

Taking about both our background we're university students and therefore we are not finan

[2018-09-02 07:23] anistuhin commented on #443
Hi Ryan, thanks for asking.

Considering the event to be held in London, I don't think I could afford it. Still, I think, I can take care of small things like meals, local transportations etc but not the accommodation and airfare.

Btw, being a regular Mozilla contributor for around 5 years now, I have huge experience organizing large events, managing logistics, and coordinating volunteers. I was

[2018-09-02 08:05] satwikkansal commented on #278
Hi @ryanwarsaw, I'm glad that you liked it.

I really want to attend Mozfest once, and couldn't do last time due to shortage of stipends. I've no source of income currently, so I'd highly appreciate if there's a possiblity of granting even partial stipends. Please consider my request this time 😅

[2018-09-02 08:10] hiteshcmonga commented on #307
Hi @ryanwarsaw , unfortunately I cannot attend without stipend. I am currently studying so it is not possible for me attend without stipend.

[2018-09-02 10:23] poojapurswani commented on #539
Hi @ryanwarsaw  unfortunately, we will not be able to attend Mozfest without stipend support. If the stipend is provided to one facilitator, then I can handle the session myself (being a techspeaker, I have done a few workshops and have experience in managing alone). My cofacilitator @dimonga and @hiteshcmonga has already agreed with this. Moreover, my cofacilitators has submitted some proposals t

[2018-09-02 13:24] bmciver commented on #537
I've just joined GitHub.

[2018-09-02 16:59] nextLane commented on #549
@ryanwarsaw Hi Ryan, I'm glad the team liked my proposal! However, as much as I'd love to, it would be really hard for me to attend the festival if stipend is not provided.

[2018-09-02 17:30] jaimemaretoli commented on #492
Hello @KadeMorton, what did you think of @Schieck explanation?

[2018-09-02 17:49] gbaman commented on #164
@kgiori we will keep it in mind. Assuming the session is accepted, it would end up in the laptop room or Pi room, all depends which has space etc.
Scheduling it done a little later after curation so we won’t know till then.

[2018-09-02 19:16] tsl143 commented on #213
@ryanwarsaw thanks to web literacy team for reviewing my proposal.
Regarding my stipend: I need a sponsorship for my travel from and to Munich and accommodation. In case of non availability of allocation of stipend, I can request AMO team for the sponsorship. But if even they are not able to sponsor, I will not be able to attend the festival.

Thanks.

[2018-09-03 01:34] siclemx commented on #110
Hi @chadsansing unfortunately not, I'm at university and it's a little bit complicated for me. Perhaps I could pay some little percent of the flight to don't miss this opportunity to attend mozfest.

[2018-09-03 01:41] swalehabubakarahmed commented on #238
1. None of us will be able to attend the festival without the stipend due to financial constraints.
2. The session can be successfully facilitated by one of us in case the stipend for one is available. @ryanwarsaw

[2018-09-03 02:23] DigitalGrassroots commented on #244
@chadsansing @gbaman @tinagoetschi

Please find additional information on the Digital Rights Monopoly board here:- https://goo.gl/dhZ4Bf

The board and a set of instructions will be available for download as well. Thank you.

[2018-09-03 07:22] vi5halc commented on #21
Hey @ryanwarsaw, Yes I will be requiring stipend in order to attend the festival.

[2018-09-03 11:19] JoBCB commented on #111
hi @jontutcher ! Great to hear from you, I hope I am still on time to answer your questions:

**01** Yes, it can be flexible, and I will bring my own laptop which can be used both for the presentation and for a set of collective exercises > which can follow the "mob" style - having one person typing and switch roles among the participants.

**02** Yes, the session can be adapted to  60 minutes if

[2018-09-03 11:40] Tejaswisony commented on #518
Hey @ryanwarsaw, Glad that your team liked our proposal. I require stipend to attend this Mozfest.
And Is it possible to provide stipend for at least to one of my additional facilitators? So that it would be easier to handle the session . Hoping to hear from you soon.
Thank You !

[2018-09-03 11:43] romamile commented on #122
Hey @chadsansing, I'm afraid I won't be able to attend without a stipend this time.

[2018-09-03 11:48] sakthianand7 commented on #577
Hello @ryanwarsaw
Thank You for your appreciation ! It would be okay to receive stipend for one facilitator .

[2018-09-03 12:25] chadsansing commented on #353
Any updates from your ED, @GrantBaker22?

[2018-09-03 14:32] earnestm commented on #464
Hi Ryan, thanks for your reply. We are glad you like it. I will check
whether I am able to receive funding from my work for a flight and get back
to you. The others have indicated that they will not be able to receive
funding or to afford to come in their own.

Best regards,
Luc

On Sun, 2 Sep. 2018, 8:54 am Ryan Warsaw, <notifications@github.com> wrote:

[2018-09-03 14:54] itzelmv commented on #155
Hello!  Thank you  so much for your comments. Regarding your question, yes,  it is possible for me to find and finance my accommodation.   I   understand there is no an avaible stipend to allocate to me so  I will look for in other institutions to afford the tickets  because in order to get   my plane tickets from Mexico to UK, I would need help at least half of the cost  of the  tickets to attend

[2018-09-03 15:10] cubicgarden commented on #581
This looks like a perfect fit with #194 ? @katecoughlan @jontutcher

[2018-09-03 16:04] meagdoh commented on #726
Hey Ryan - great to hear the team likes this proposal!

I will not be able to attend the festival in the event there is no stipend available.

Thank you for your continued consideration,
Meag

[2018-09-03 16:09] laurenheywood commented on #635
Hey all! Let us know if you have any questions about the session 🌼 🌍

[2018-09-03 17:01] chadsansing commented on #31
@ryanwarsaw, can we switch the milestone to Youth Zone?

[2018-09-03 18:00] sandsfish commented on #516
Hey gang, let me know if I can help on this in any way. I'll be flying today but I should have internet fairly consistently where I'm going. I'll keep an eye out. :)

[2018-09-03 18:01] f4bs commented on #622
Hey there! It is wonderful to know that our proposal was reviwed as "great". Thank you! :)

About the questions regarding the stipend request: at this time, nor me or other facilitator will be able to attend the festival if there is no stipend available. But yes, me or onother facilitator will be able to successfully run this session in the situation that there will be only one stipend available.

[2018-09-03 22:31] iNiky commented on #282
Hola Caro!
Yes, this is the planning: https://docs.google.com/document/d/12Bl6R5JdWKWWnRfHT21UoEiGpYE7M0NqUfMNqys_fIc/edit

In relation to participation, we think that in principle it will be a presentation and then a discussion and participation table through guiding questions that will be distributed by group.

Saludos :)

[2018-09-04 00:22] ryanwarsaw commented on #160
It is the co-facilitator that requires a stipend request, not the main facilitator.

[2018-09-04 01:46] ALPorciuncula commented on #488
Ok,  a person can run.

Atenciosamente -

Anderson Porciuncula

Analista de TI

Fone:  (54) 9 9120-3201

E-mail: al.porciuncula@gmail.com

E-mail: anderson@andersonlp.com.br

www.andersonlp.com.br

Skype: al.porciuncula

Telegram: @andersonlp

:P Antes de imprimir, pense e avalie o seu compromisso com o Meio Ambiente

Em dom, 2 de set de 2018 03:03, Ryan Warsaw <notifications@github.com>
escreveu:

[2018-09-04 08:35] sayak-sarkar commented on #733
Hey @ryanwarsaw that's great news, thanks for the update. I'm glad that the Web Literacy team liked my session proposal! However, in case there is no stipend allocation, it wouldn't be possible for me to attend the festival, since the expenses involved when factoring in the current conversion rates would be quite high for me.

[2018-09-04 08:41] sayak-sarkar commented on #661
Hi @barrosgeraldo ,

This would be an ideal session for intermediate to advanced web users who have a basic working understanding of HTML and JavaScript, since we would be talking quite a bit about the technical aspects of Data Visualization.

Regards,
Sayak

[2018-09-04 08:43] sayak-sarkar commented on #637
Hey @chadsansing in case there is no stipend allocation, it wouldn't be possible for me to attend the festival, since the expenses involved when factoring in the current conversion rates would be quite high for me.

[2018-09-04 09:57] chadsansing commented on #637
Thank you for that information, @sayak-sarkar.

[2018-09-04 11:12] bmciver commented on #537
Here's a bit of an expansion on my idea (copy pasted from my email correspondence with my wrangler):

Running the session – basically, I’d be looking to create groups of around 3 people per “guild” (depending on how many participants for the session in total). Each guild would have some sort of hypothetical “majority” – ie, two people out of the three only speak a certain language that the remaini

[2018-09-04 12:15] no-carrier commented on #679
Good morning! Looks like I'm going to pass on MozFest this year, but thanks
for reaching out.

On Fri, Aug 31, 2018 at 6:35 AM Chad Sansing <notifications@github.com>
wrote:

[2018-09-04 12:24] chadsansing commented on #679
Thank you for the update, @no-carrier!

[2018-09-04 13:02] bunnybooboo commented on #184
Thank you for your rapid response to my recent urgent email @afrinrahman15

I'm delighted to ACCEPT your session into the Mozfest Privacy and Security space this year. Look for even more emails in the coming days. Can't wait to meet you in October - IN LONDON!!

https://twitter.com/MozFestPrivSec/status/1036961479491244032

[2018-09-04 13:11] bunnybooboo commented on #694
We're excited to accept this session. Escalation has already taken place via email. And notification via Twitter. See you in London real soon!!!

https://twitter.com/MozFestPrivSec/status/1036964460169240578

[2018-09-04 13:21] bunnybooboo commented on #682
Via email conversations regarding #694 we're elated to also accept this session.

cc/ @arroway

[2018-09-04 13:29] bunnybooboo commented on #448
YaaaaAaaayyy! We're accepting this session into the Privacy and Security space schedule for Mozfest. Thanks for quickly responding to our recent emails @nerdlet

Can't wait to meet in October!
https://twitter.com/MozFestPrivSec/status/1036968717312303104

[2018-09-04 13:39] bunnybooboo commented on #263
Ooooh yes!! Stoked to be able to accept this session @heartsucker

And thanks for the recent rapid turnaround on requested info. Helped us a lot. See you soon IN LONDON!!
https://twitter.com/MozFestPrivSec/status/1036971524970962944

[2018-09-04 13:47] bunnybooboo commented on #491
A quick message to let you know we will be ACCEPTING this proposal into our 2018 schedule. Escalated already via Madhurish. More emails to follow. See you in LONDON!!

[2018-09-04 13:49] shreevari commented on #491
Wow! That's awesome! Thanks!

[2018-09-04 13:50] bunnybooboo commented on #621
Further to escalation via #295 we're accpeting this session into the Mozfest 2018 schedule. Further email escalations to follow. @tanzeelkhan

[2018-09-04 14:01] bunnybooboo commented on #192
Hiya @albert1177 I'm jumping with excitement to inform you we are ACCEPTING this session into Mozfest. Please watch out for an urgent email heading your way, :+1:

https://twitter.com/MozFestPrivSec/status/1036976755410653184

[2018-09-04 14:14] afrinrahman15 commented on #184
Thank you So Much! 😇😍

[2018-09-04 14:21] nerdlet commented on #448
Awesome!!! We are so excited about this amazing opportunity! See ya in
London!

On Tue, Sep 4, 2018 at 4:29 PM David Ross <notifications@github.com> wrote:

[2018-09-04 14:28] barbayellow commented on #525
Hey @ryanwarsaw that is a great news! Two facilitators must run this workshop and unfortunately, as a small organization, our budget does not allow us to pay for the travel and the hosting.

[2018-09-04 15:40] jaimemaretoli commented on #488
Hello @ryanwarsaw!

Taking into account the "remuneration" only for a facilitator, @ALPorciuncula will participate in the Mozilla Festival and conduct the activity. My participation stay for the next MozFest.

Can direct the contact with him. Good MozFest for all!

[2018-09-04 16:20] ryanwarsaw commented on #488
Hi @maretoli I've taken care of this, thank you for letting us know!

[2018-09-04 17:14] chadsansing commented on #161
@dmfj - have sent a question to you via email :)

[2018-09-04 17:24] dmfj commented on #161
@chadsansing and I've replied 🙂

[2018-09-04 17:33] randomcreator commented on #561
Dropped?

[2018-09-04 19:38] b-meson commented on #29
Hi all,
Apologize for the long delay.
@chadsansing @ryanwarsaw my vision for this session was to talk more in general about the cooperative data model in Chicago and how it came to be. I think in general, the idea is that we spend a lot of time silo'ing skills sets and data sets around the criminal justice system and not working together to gather larger views of  how they all work.

That being sa

[2018-09-04 20:05] Veerskyfire commented on #460
Hello @chadsansing it's not possible for me to attend mozfest without stipend but i want to attend this year anyhow because last year i received the stipend but missed mozfest because of my visa rejection. BTW my one more proposal got selected in privacy and security space and they also asked me that can i attend mozfest without stipend so i would like to request @chadsansing  @bunnybooboo  @yocha

[2018-09-04 20:54] bunnybooboo commented on #493
We'd love to accept this session into this year's Mozfest @dmarti

Important emails will follow in the coming days. See you soon!

https://twitter.com/MozFestPrivSec/status/1037081089788071937

[2018-09-04 21:00] bunnybooboo commented on #541
We're delighted to accept this session proposal into our Privacy and Security space for Mozfest 2018. Please watch for production emails in the day ahead. Congratulations!!

https://twitter.com/MozFestPrivSec/status/1037082643458867206

[2018-09-04 21:08] bunnybooboo commented on #594
Hiya @kalogatias Congratulations!! 🎊😆

We're thrilled to inform you that we all loved this proposal and now wish to accept you into the Mozfest 2018 schedule. Watch for production email escalations in the coming days.
https://twitter.com/MozFestPrivSec/status/1037084801063419904

cc/ @arroway

[2018-09-04 21:22] bunnybooboo commented on #327
Yes yes yes!! We really like this session @Te-k and wish to have you in the Privacy and Security space for Mozfest 2018. Look out for production email escalations in the days ahead.

https://twitter.com/MozFestPrivSec/status/1037088389252739072

[2018-09-04 23:49] emceeaich commented on #471
Please add @cynthia1960 of Texeira Coffee as a co-presenter.

[2018-09-05 04:50] Faisalaziz commented on #508
Hi @bunnybooboo, I was wondering if there is an update on this session?

[2018-09-05 09:26] bunnybooboo commented on #727
We're thrilled to be accepting this excellent session topic into the Privacy & Security space in collaboration with the @MozillaFestival/2018-queering-mozfest-wranglers

cc/ @arroway

[2018-09-05 09:27] heartsucker commented on #263
The co-facilitator listed in the original application will not be able to attend. I have other candidates who may want to assist. Just so you know for any published materials on this.

[2018-09-05 11:07] jacktionman commented on #289
Videos from exhibition at BBC AI conference:

https://www.google.com/url?q=https://photos.app.goo.gl/9jkSP4f6SJeU21dUA&sa=D&ust=1536149150695000&usg=AFQjCNHSeP6TBFmJlSlbkN7ShcJq1sdidA

[2018-09-05 11:09] jacktionman commented on #289
Images:

https://photos.app.goo.gl/vUTRc69MqHPZAwGb8

[2018-09-05 11:20] KadeMorton commented on #516
@sandsfish I've just dropped you an email!

[2018-09-05 11:42] chadsansing commented on #600
Facilitators under 25.

[2018-09-05 11:54] bunnybooboo commented on #471
<< so excited >> about this session. Thanks for extra info @emceeaich

[2018-09-05 12:14] bunnybooboo commented on #263
@heartsucker please email me this PII when you have the info. This will eventually need flagging for the Mozfest Production team, but there is no immediately looming lockdown on this yet.

[2018-09-05 13:46] bunnybooboo commented on #606
Duplicated via #621. For deletion.

[2018-09-05 19:54] chadsansing commented on #202
We're looking for youth-led sessions especially - would it be possible for @Macgeoffrey to lead this session w/ support? cc @dangjavageek!

[2018-09-05 20:04] chadsansing commented on #433
Hi, @danielryne - in your mind, is there a way this session could be designed as youth-facing or student-facing, rather than educator-facing?

[2018-09-05 20:16] danielryne commented on #433
Hey @chadsansing , absolutely it can be adapted for youth/student facing. In fact we discussed this as a potential route. I think the team's preference was educators, but they are flexible.

[2018-09-05 20:22] chadsansing commented on #433
Okay - thank you for the extra information!

[2018-09-05 20:32] FacioErgoSum commented on #202
Yes.

On Wed, Sep 5, 2018, 2:54 PM Chad Sansing <notifications@github.com> wrote:

[2018-09-05 21:50] GrantRVD commented on #76
Hello @danielryne @Carotejada @jontutcher @edovio! Pardon the question but I was wondering if there's an ETA on the decisions for MozFest? Our organization is asking us to be expedient about planning travel for the rest of the year, and I'm not sure what to tell them about MozFest plans other than we really want to attend. Thanks!

[2018-09-05 22:09] randomcreator commented on #561
hi, I guess this is dropped?

[2018-09-06 03:48] rabimba commented on #342
Hi @chadsansing I don't think we will be able to attend without a travel stipend since both of us are Graduate Students.

[2018-09-06 03:58] danielryne commented on #76
Hi @GrantRVD, I believe final decisions will be made by September 10th, with notifications going out on that or before. When do you need to make a decision by?

[2018-09-06 06:13] tsl143 commented on #213
Hi @ryanwarsaw, so apparently AMO team is already taking care of my expenses during Mozfest, as we have Addon-reviewers meetup too.
So I **do not need any stipend**, thanks

[2018-09-06 08:33] bunnybooboo commented on #745
Noting our acceptance from @MozillaFestival/2018-privacy-and-security-wranglers and the Mozfest 2018 schedule. Having personally visited Glass Room many times last year, I'm excited about the dynamics behind this. See you in October @shibacomputer

[2018-09-06 10:36] chadsansing commented on #342
Thank you for the information,  @rabimba .

[2018-09-06 10:48] chadsansing commented on #202
Thank you, @Macgeoffrey.

[2018-09-06 14:32] jontutcher commented on #333
Hey @juliakloiber - do you think you need 90 minutes for this, or could you squeeze it into 60?

[2018-09-06 14:38] juliakloiber commented on #333
Hi Jon!

Thanks for reaching out! We are happy to squeeze it into 60 mins. We’ve done that before :)

Cheers, Julia

Julia Kloiber
Co-Founder | PrototypeFund.de <http://prototypefund.de/>
Senior Fellow | Mozilla Foundation

mobile +49 (0)176 61 98 64 22
twitter: @j_kloiber

[2018-09-06 16:03] ystvns commented on #457
Hello! Thanks for the react @yochannah 😁  We'd so love to hear any news from Mozfest organizers / wranglers on the status of our submission and the possibility of receiving a stipend. Grateful as well for openness of this decision-making process!

[2018-09-06 16:05] dangjavageek commented on #202
@chadsansing do we need to adjust labels for this session from "[YZ] adult lead" to something else, then?

[2018-09-06 16:10] ystvns commented on #457
We also realized that our session falls really well into Web Literacy space, and would like to ping @ryanwarsaw 😄 — we'd be happy to answer more questions about our session's promise to facilitate intergenerational learning about online youth culture!

[2018-09-06 16:22] chadsansing commented on #202
Good catc, @dangjavageek  - will do!

[2018-09-06 17:14] roseregina commented on #745
I think this proposal got a little mixed up in being added to github.

@shibacomputer and I submitted #99. Separately, proposals were submitted via email for the Glass Room Experience ("Mini Glass Room") in a dedicated space and the presentation on the soon-to-be launched, interactive and dynamic tool educating users on psychometric profiling and political campaigns.

The Glass Room Experience ("M

[2018-09-06 18:37] rorymbyrne commented on #641
Awesome! Look forward to it.

@bunnybooboo No problem if not but it would be great if we could do it on the Saturday or Sunday. Purely for selfish reasons as I will be flying back from the US during the night to get there for Friday so would prefer to be a little bit fresher if possible! No worries if it's not!

Thanks
-R

[2018-09-06 18:52] stephwright commented on #635
hey there... our team is meeting in a few mins to discuss sessions.  We can get back to you in abt an hour :)

[2018-09-06 19:52] GrantRVD commented on #76
Thanks, @danielryne! September 10 should be no problem.

[2018-09-06 21:49] poush commented on #358
@jontutcher Can you please check this once for Digital Inclusion. I think the secondary space should be Digital Inclusion at first, instead of the Youth Zone.
Thanks!

[2018-09-06 22:56] bunnybooboo commented on #745
@marcwalsh ^^

[2018-09-06 23:04] bunnybooboo commented on #641
@rorymbyrne most of our sessions will land on the Saturday and Sunday. The Friday is really just a fraction of the available space open for a science fair lasting just a few hours. It's more demos of ready made projects with drinks and networking.

We do have facilitator training from 10am on the Friday but if your travel means this is not possible, I highly recommend taking a look at online facil

[2018-09-06 23:18] rorymbyrne commented on #641
@bunnybooboo Awesome, super thanks I will take a look at the facilitator support session and look forward to the science fair!

[2018-09-06 23:44] randomcreator commented on #561
@bunnybooboo  I guess I should close this?

[2018-09-07 00:41] ryanwarsaw commented on #561
hey @randomcreator don't close tickets! Just because your session has been rejected by a space, it doesn't mean that your session has been rejected completely. By removing the Privacy and Security milestone, it just means that other spaces can consider this session for their spaces. :)

[2018-09-07 01:14] randomcreator commented on #561
Right ! Hadn't thought of that because I had selected one space but just occurred to me that I should have added web literacy because from my research I find that many users don't know what these money lending apps are collecting from them

[2018-09-07 05:49] bunnybooboo commented on #295
Noting that this session has already escalated to being accepted into the Mozfest 2018 schedule. Alongside the session #621. Emails to follow once curation comes to a close September 10.

[2018-09-07 06:14] bunnybooboo commented on #52
Further to a recent email conversation we're really excited to have the opportunity to ACCEPT your session into Mozfest 2018. Things will kick up a gear for production, materials, and facilitator support soon, once this curation process finally closes September 10. @cotarg

Looking forward to meeting you in October!

[2018-09-07 06:18] bunnybooboo commented on #727
Belated comms escalation. https://twitter.com/MozFestPrivSec/status/1037943569565270016

Things will kick up a gear next week, once our session curation finally closes September 10.

[2018-09-07 06:28] bunnybooboo commented on #734
Hiya @seandiggity thanks for your rapid response via emails! This has allowed us to escalate your proposal through to ACCEPTANCE into the Mozfest 2018 schedule. Congratulations! Very much looking forward to seeing you in London during October.

https://twitter.com/MozFestPrivSec/status/1037950646404694017

[2018-09-07 08:31] phivk commented on #247
Sorry for the late reply. I'd love to think through how this session could fit into the Xenshana world. Session activities could potentially be phrased in the frame of [Xenshana Myths & Legends](https://github.com/KadeMorton/Xenshana/blob/master/world_building_document.md#myths-and-legends), and drive home the point of stories as essential and necessary meaning making devices.

@KadeMorton thought

[2018-09-07 08:40] phivk commented on #247
**Example projects to reference (should make a small selection):**
Annotated Hypervideo about Slavin monument https://frametrail.sng.sk/#hypervideo=1
SXS http://senxskutocnost.sng.sk/en
Conversational CYOA Chat with 2 iconinc Czech and Slovak painters Filla & Fulla https://fillafulla.sng.sk/
https://www.socialismrealised.eu/more of a pedagogical tool but interesting
https://activelearningnetwork.c

[2018-09-07 11:08] chadsansing commented on #433
cc @gbaman, @Jcoopt ^^^^^

[2018-09-07 12:02] Saallen opened #746 "Build your own private by design voice assistant"
[ Session Name ] Build your own private by design voice assistant
[ Primary Space ] Decentralisation

[ Submitter's Name ] Robin Guignard Perret
[ Submitter's Affiliated Organisation ] Snip
[ Submitter's GitHub ] @yxdunc

[ Other Facilitator 1's Name ] Valentin Fage
[ Other Facilitator 1's GitHub ] TBC

**What will happen in your session?**
In this workshop you will discover Snips's environnement

[2018-09-07 14:07] zee-moz commented on #103
@bashybaranaba I'm not sure if others from our team reached out to you about this yet. If they have, and you've answered this question, just let me know. As you're 16 years old, Mozilla would prefer that you travel to the festival with an adult guardian, for legal/ liability reasons. We can also pay for this person to travel to the Festival. Do you have someone who can come to the Festival with yo

[2018-09-07 14:17] chadsansing commented on #103
cc @emrysgreen - potential for cross-space connections.

[2018-09-07 15:06] dimonga commented on #250
Hi, I got a mail that this session is selected, While I have accepted the invitation but there is no mention of stipend in the mail. Kindly update about this, As I have mentioned in the previous comment, I won't be able to attend without stipend

[2018-09-07 15:13] chadsansing commented on #250
@dimonga, we have completed our stipending process, and while we are able to accept this session, we are not able to offer you a stipend.

[2018-09-07 15:15] dimonga commented on #250
unfortunately, in that case, I will not be able to attend this session. Thanks anyways!

[2018-09-07 15:16] chadsansing commented on #250
Thank you for the update, @dimonga. I am sorry we will miss you!

[2018-09-07 15:32] emrysgreen commented on #103
Thanks @chadsansing - And if you would like any support in supporting @zee-moz then just let me know.

[2018-09-07 16:26] little-wow commented on #199
Hi! Checking in on this, thanks!

[2018-09-07 16:28] bashybaranaba commented on #103
@zee-moz Yes I have an adult who can come to Mozfest with me. My uncle, Alex Wafula, is willing to come with me.

[2018-09-07 20:07] zee-moz commented on #103
@bashybaranaba  you should have received an email from Mozilla about your travel stipend award, can you check your inbox and please reply with your info, and that of your guardian? looking forward to welcoming you at the festival! cc @Saallen

[2018-09-07 20:20] srdesh commented on #57
Hi @barrosgeraldo ! Any update on over here? Thanks in advance. 😄 😄

[2018-09-08 00:14] stephwright commented on #283
@yochannah did you ever hear anything back from this facilitator?

[2018-09-08 02:30] bmciver commented on #537
So, unsuccessful then?

[2018-09-08 13:11] sayak-sarkar commented on #708
Hey @bunnybooboo I see that the assignment and tags have been removed. Does this mean that this proposal didn't make it to the next round?

[2018-09-08 13:12] sayak-sarkar commented on #661
Hey @ryanwarsaw I see that the assignment and tags have been removed. Does this mean that this proposal didn't make it to the next round?

[2018-09-09 04:33] priyankanag commented on #459
Hey @Roslyn-Kratochvil-Moore,

You are now part of the Web Literacy space, we can’t wait to see how your session Breaking invisible barriers: Are you working with MIL? helps shape the space into something great!

To help you prepare for the festival weekend, here’s what to expect in the coming weeks:

- You are key to the overall design of the space so we’ll work with you on your session so it fit

[2018-09-09 07:30] cotarg commented on #52
We’re so excited to join you all! <3

[2018-09-09 11:20] Tejaswisony commented on #518
Hi @ryanwarsaw,
 We just wanted to know the reason regarding the Web Literacy milestone removal. It would be nice if we get our query clarified.
Thanks.

[2018-09-09 17:27] arkodyuti commented on #317
Hey @edovio @Carotejada
I request the team from the Space - Digital Inclusion to look into this proposal. Since it is our secondary space as mentioned.

Also just an update - I and my Co-Session Facilitator, Shubham (@ushubham8500) would like to mention that **we don't need any travel stipend** to host this session at MozFest 2018. Let me know your thoughts on this proposal.

Awaiting your positiv

[2018-09-10 08:57] cotarg commented on #52
And the repo for this workshop/project has been renamed to reflect what it is!
https://github.com/cotarg/1KBWC-threat-modeling

[2018-09-10 09:26] bunnybooboo commented on #52
@cotarg the scheduling app will source data from all the successful GH issues in this repo. If any of your details change, between now and event day, we have a number of opportunities to correct them. Just let us know.

Hope you have fun preparing for this workshop.

[2018-09-10 13:55] skjonas commented on #659
This is important work and looks like a great session!

[2018-09-10 18:08] mvk-mozilla commented on #573
@stephwright @maboa does removal of the labels mean my proposal is not accepted?

[2018-09-10 18:59] stephwright commented on #573
@mvk-mozilla all the wranglers are still haggling over which sessions will fit in which spaces, so no, it doesn't mean anything yet.  You will get a notification when decisions are made.

[2018-09-10 19:22] mvk-mozilla commented on #573
@stephwright Thank you for the update!

[2018-09-10 20:44] Mdatas commented on #257
Martin Silva, from Datas here, I don't need travel support nor funding anymore (I will be in Barcelona's ICANN Meeting). It would be appreciated to get the tickets for the event and some minor stipend though (since our funding is in Argentina Pesos and we wnt from 1-16 rate with the dollar to 1-40 in four months ).

[2018-09-11 06:08] Johanna-hub commented on #689
@jontutcher Thanks Jon! Which sessions are those?  Happy to get in contact and link up

[2018-09-11 07:40] wiebkehere commented on #719
Hi Tiago - great to see this! I'll be bringing some SDS011 sensors for PM10/PM2.5 to play with for this session https://github.com/MozillaFestival/mozfest-program-2018/issues/503 - would be great to link up!

[2018-09-11 07:41] wiebkehere commented on #536
Great to see this session, @mobilemaggie! We're also around from hackAIR for https://github.com/MozillaFestival/mozfest-program-2018/issues/503 - let's see how we can work together!

[2018-09-11 11:43] npscience commented on #286
Adding @StuartRFKing and Elsa as facilitator of this session at MozFest!

[2018-09-11 16:04] little-wow commented on #199
Are you going to be getting in touch with folks about their proposals? I haven't heard anything on this and would like to make plans. Thanks.

[2018-09-11 17:37] digitarald commented on #14
@chadsansing @danielryne . Can I assume that the proposal did not get accepted?

[2018-09-11 17:55] autonome commented on #339
Hey all! @KadeMorton @maboa how can we tell if this is accepted or not?

[2018-09-11 18:43] gbaman commented on #669
Some potential prototype designs from the facilitator.

![image from ios](https://user-images.githubusercontent.com/833193/45380536-d5e7f480-b5fa-11e8-977e-b3045457382c.jpg)
![image from ios 1](https://user-images.githubusercontent.com/833193/45380539-d84a4e80-b5fa-11e8-9b4f-ec6ebbab8c80.jpg)

[2018-09-11 21:14] #3 closed

[2018-09-11 21:14] #4 closed

[2018-09-11 21:14] #5 closed

[2018-09-11 21:14] #8 closed

[2018-09-11 21:15] #9 closed

[2018-09-11 21:15] #11 closed

[2018-09-11 21:15] #13 closed

[2018-09-11 21:15] #14 closed

[2018-09-11 21:15] #16 closed

[2018-09-11 21:16] #17 closed

[2018-09-11 21:16] #20 closed

[2018-09-11 21:16] #21 closed

[2018-09-11 21:16] #22 closed

[2018-09-11 21:16] #27 closed

[2018-09-11 21:17] #28 closed, assigned to nobody

[2018-09-11 21:17] #29 closed, assigned to nobody

[2018-09-11 21:17] #30 closed, assigned to nobody

[2018-09-11 21:17] #33 closed, assigned to nobody

[2018-09-11 21:17] #36 closed, assigned to nobody

[2018-09-11 21:17] #37 closed, assigned to nobody

[2018-09-11 21:18] #38 closed, assigned to jontutcher

[2018-09-11 21:18] #39 closed, assigned to nobody

[2018-09-11 21:18] #41 closed, assigned to nobody

[2018-09-11 21:18] #43 closed, assigned to nobody

[2018-09-11 21:18] #45 closed, assigned to nobody

[2018-09-11 21:19] #46 closed, assigned to nobody

[2018-09-11 21:19] #49 closed, assigned to nobody

[2018-09-11 21:19] #50 closed, assigned to nobody

[2018-09-11 21:19] #53 closed, assigned to nobody

[2018-09-11 21:19] #54 closed

[2018-09-11 21:20] #55 closed, assigned to nobody

[2018-09-11 21:20] #57 closed, assigned to nobody

[2018-09-11 21:20] #61 closed, assigned to nobody

[2018-09-11 21:20] #63 closed, assigned to nobody

[2018-09-11 21:20] #64 closed, assigned to nobody

[2018-09-11 21:21] #65 closed, assigned to nobody

[2018-09-11 21:21] #66 closed, assigned to nobody

[2018-09-11 21:21] #67 closed, assigned to nobody

[2018-09-11 21:21] #69 closed, assigned to nobody

[2018-09-11 21:21] #71 closed, assigned to nobody

[2018-09-11 21:22] #73 closed, assigned to jontutcher

[2018-09-11 21:22] #74 closed, assigned to nobody

[2018-09-11 21:22] #81 closed, assigned to nobody

[2018-09-11 21:22] #86 closed, assigned to nobody

[2018-09-11 21:22] #87 closed, assigned to nobody

[2018-09-11 21:23] #89 closed, assigned to jontutcher

[2018-09-11 21:23] #92 closed, assigned to nobody

[2018-09-11 21:23] #93 closed, assigned to nobody

[2018-09-11 21:23] #94 closed, assigned to nobody

[2018-09-11 21:23] #96 closed, assigned to nobody

[2018-09-11 21:24] #97 closed, assigned to nobody

[2018-09-11 21:24] #98 closed, assigned to nobody

[2018-09-11 21:24] #101 closed, assigned to nobody

[2018-09-11 21:24] #102 closed, assigned to nobody

[2018-09-11 21:24] #104 closed, assigned to nobody

[2018-09-11 21:24] #107 closed, assigned to nobody

[2018-09-11 21:25] #109 closed, assigned to nobody

[2018-09-11 21:25] #111 closed, assigned to nobody

[2018-09-11 21:25] #116 closed, assigned to nobody

[2018-09-11 21:25] #117 closed, assigned to nobody

[2018-09-11 21:25] #118 closed, assigned to nobody

[2018-09-11 21:26] #119 closed, assigned to nobody

[2018-09-11 21:26] #121 closed, assigned to nobody

[2018-09-11 21:26] #123 closed, assigned to nobody

[2018-09-11 21:26] #124 closed, assigned to nobody

[2018-09-11 21:26] #125 closed, assigned to nobody

[2018-09-11 21:27] #126 closed, assigned to nobody

[2018-09-11 21:27] #128 closed, assigned to Carotejada

[2018-09-11 21:27] #130 closed, assigned to nobody

[2018-09-11 21:27] #131 closed, assigned to nobody

[2018-09-11 21:27] #132 closed, assigned to nobody

[2018-09-11 21:28] #133 closed, assigned to nobody

[2018-09-11 21:28] #135 closed, assigned to nobody

[2018-09-11 21:28] #136 closed, assigned to nobody

[2018-09-11 21:28] #139 closed, assigned to nobody

[2018-09-11 21:28] #140 closed, assigned to Carotejada

[2018-09-11 21:29] #141 closed, assigned to nobody

[2018-09-11 21:29] #142 closed, assigned to nobody

[2018-09-11 21:29] #144 closed, assigned to nobody

[2018-09-11 21:29] #145 closed, assigned to nobody

[2018-09-11 21:29] #148 closed, assigned to nobody

[2018-09-11 21:30] #152 closed, assigned to nobody

[2018-09-11 21:30] #154 closed, assigned to nobody

[2018-09-11 21:30] #156 closed, assigned to nobody

[2018-09-11 21:30] #158 closed, assigned to nobody

[2018-09-11 21:30] #163 closed, assigned to nobody

[2018-09-11 21:30] #165 closed, assigned to nobody

[2018-09-11 21:31] #167 closed, assigned to nobody

[2018-09-11 21:31] #168 closed, assigned to nobody

[2018-09-11 21:31] #170 closed, assigned to nobody

[2018-09-11 21:31] #171 closed, assigned to nobody

[2018-09-11 21:31] #174 closed, assigned to jontutcher

[2018-09-11 21:32] #175 closed, assigned to nobody

[2018-09-11 21:32] #176 closed, assigned to nobody

[2018-09-11 21:32] #180 closed, assigned to nobody

[2018-09-11 21:32] #181 closed, assigned to nobody

[2018-09-11 21:32] #182 closed, assigned to nobody

[2018-09-11 21:33] #186 closed, assigned to nobody

[2018-09-11 21:33] #189 closed, assigned to jontutcher

[2018-09-11 21:33] #191 closed, assigned to nobody

[2018-09-11 21:33] #193 closed, assigned to nobody

[2018-09-11 21:33] #196 closed, assigned to nobody

[2018-09-11 21:34] #197 closed, assigned to nobody

[2018-09-11 21:34] #198 closed, assigned to nobody

[2018-09-11 21:34] #199 closed, assigned to nobody

[2018-09-11 21:34] #200 closed, assigned to yochannah

[2018-09-11 21:34] #203 closed, assigned to nobody

[2018-09-11 21:35] #204 closed, assigned to nobody

[2018-09-11 21:35] #209 closed, assigned to nobody

[2018-09-11 21:35] #210 closed, assigned to nobody

[2018-09-11 21:35] #211 closed, assigned to nobody

[2018-09-11 21:35] #215 closed, assigned to nobody

[2018-09-11 21:35] #216 closed, assigned to nobody

[2018-09-11 21:36] #217 closed, assigned to nobody

[2018-09-11 21:36] #218 closed, assigned to nobody

[2018-09-11 21:36] #220 closed, assigned to nobody

[2018-09-11 21:36] #221 closed, assigned to nobody

[2018-09-11 21:36] #222 closed, assigned to nobody

[2018-09-11 21:37] #223 closed, assigned to nobody

[2018-09-11 21:37] #224 closed, assigned to nobody

[2018-09-11 21:37] #225 closed, assigned to nobody

[2018-09-11 21:37] #227 closed, assigned to nobody

[2018-09-11 21:37] #229 closed, assigned to nobody

[2018-09-11 21:38] #230 closed, assigned to nobody

[2018-09-11 21:38] #234 closed, assigned to arroway

[2018-09-11 21:38] #235 closed, assigned to jontutcher

[2018-09-11 21:38] #236 closed, assigned to nobody

[2018-09-11 21:38] #237 closed, assigned to nobody

[2018-09-11 21:39] #238 closed, assigned to nobody

[2018-09-11 21:39] #239 closed, assigned to nobody

[2018-09-11 21:39] #240 closed, assigned to nobody

[2018-09-11 21:39] #241 closed, assigned to nobody

[2018-09-11 21:39] #242 closed, assigned to nobody

[2018-09-11 21:40] #245 closed, assigned to nobody

[2018-09-11 21:40] #246 closed, assigned to nobody

[2018-09-11 21:40] #253 closed, assigned to nobody

[2018-09-11 21:40] #254 closed, assigned to nobody

[2018-09-11 21:40] #255 closed, assigned to nobody

[2018-09-11 21:41] #256 closed, assigned to jontutcher

[2018-09-11 21:41] #257 closed, assigned to nobody

[2018-09-11 21:41] #260 closed, assigned to nobody

[2018-09-11 21:41] #264 closed, assigned to jontutcher

[2018-09-11 21:41] #267 closed, assigned to jontutcher

[2018-09-11 21:42] #268 closed, assigned to nobody

[2018-09-11 21:42] #269 closed, assigned to nobody

[2018-09-11 21:42] #270 closed, assigned to nobody

[2018-09-11 21:42] #271 closed, assigned to nobody

[2018-09-11 21:42] #272 closed, assigned to nobody

[2018-09-11 21:43] #273 closed, assigned to nobody

[2018-09-11 21:43] #274 closed, assigned to nobody

[2018-09-11 21:43] #275 closed, assigned to nobody

[2018-09-11 21:43] #276 closed, assigned to nobody

[2018-09-11 21:43] #277 closed, assigned to nobody

[2018-09-11 21:43] #279 closed, assigned to nobody

[2018-09-11 21:44] #280 closed, assigned to nobody

[2018-09-11 21:44] #281 closed, assigned to nobody

[2018-09-11 21:44] #283 closed, assigned to yochannah

[2018-09-11 21:44] #285 closed, assigned to nobody

[2018-09-11 21:44] #287 closed, assigned to nobody

[2018-09-11 21:45] #288 closed, assigned to nobody

[2018-09-11 21:45] #290 closed, assigned to nobody

[2018-09-11 21:45] #293 closed, assigned to nobody

[2018-09-11 21:45] #296 closed, assigned to nobody

[2018-09-11 21:45] #297 closed, assigned to nobody

[2018-09-11 21:46] #304 closed, assigned to nobody

[2018-09-11 21:46] #305 closed, assigned to jontutcher

[2018-09-11 21:46] #306 closed, assigned to nobody

[2018-09-11 21:46] #309 closed, assigned to nobody

[2018-09-11 21:46] #311 closed, assigned to nobody

[2018-09-11 21:47] #315 closed, assigned to nobody

[2018-09-11 21:47] #316 closed, assigned to nobody

[2018-09-11 21:47] #317 closed, assigned to nobody

[2018-09-11 21:47] #318 closed, assigned to nobody

[2018-09-11 21:47] #319 closed, assigned to nobody

[2018-09-11 21:48] #320 closed, assigned to nobody

[2018-09-11 21:48] #323 closed, assigned to nobody

[2018-09-11 21:48] #328 closed, assigned to arroway

[2018-09-11 21:48] #329 closed, assigned to nobody

[2018-09-11 21:49] #331 closed, assigned to nobody

[2018-09-11 21:49] #332 closed, assigned to nobody

[2018-09-11 21:49] #334 closed, assigned to nobody

[2018-09-11 21:49] #336 closed, assigned to nobody

[2018-09-11 21:49] #337 closed, assigned to nobody

[2018-09-11 21:50] #339 closed, assigned to nobody

[2018-09-11 21:50] #340 closed, assigned to nobody

[2018-09-11 21:50] #341 closed, assigned to nobody

[2018-09-11 21:50] #342 closed, assigned to nobody

[2018-09-11 21:50] #343 closed, assigned to nobody

[2018-09-11 21:50] #344 closed, assigned to nobody

[2018-09-11 21:51] #345 closed, assigned to nobody

[2018-09-11 21:51] #346 closed, assigned to nobody

[2018-09-11 21:51] #348 closed, assigned to nobody

[2018-09-11 21:51] #349 closed, assigned to nobody

[2018-09-11 21:51] #355 closed, assigned to nobody

[2018-09-11 21:52] #357 closed, assigned to nobody

[2018-09-11 21:52] #358 closed, assigned to nobody

[2018-09-11 21:52] #361 closed, assigned to nobody

[2018-09-11 21:52] #362 closed, assigned to nobody

[2018-09-11 21:52] #364 closed, assigned to nobody

[2018-09-11 21:53] #365 closed, assigned to jontutcher

[2018-09-11 21:53] #367 closed, assigned to nobody

[2018-09-11 21:53] #369 closed, assigned to nobody

[2018-09-11 21:53] #370 closed, assigned to nobody

[2018-09-11 21:53] #371 closed, assigned to nobody

[2018-09-11 21:54] #376 closed, assigned to nobody

[2018-09-11 21:54] #379 closed, assigned to nobody

[2018-09-11 21:54] #383 closed, assigned to nobody

[2018-09-11 21:54] #385 closed, assigned to nobody

[2018-09-11 21:54] #386 closed, assigned to nobody

[2018-09-11 21:55] #390 closed, assigned to nobody

[2018-09-11 21:55] #391 closed, assigned to nobody

[2018-09-11 21:55] #392 closed, assigned to nobody

[2018-09-11 21:55] #393 closed, assigned to nobody

[2018-09-11 21:55] #395 closed, assigned to nobody

[2018-09-11 21:56] #396 closed, assigned to nobody

[2018-09-11 21:56] #397 closed, assigned to jontutcher

[2018-09-11 21:56] #400 closed, assigned to nobody

[2018-09-11 21:56] #402 closed, assigned to nobody

[2018-09-11 21:56] #407 closed, assigned to nobody

[2018-09-11 21:57] #408 closed, assigned to nobody

[2018-09-11 21:57] #410 closed, assigned to nobody

[2018-09-11 21:57] poshaughnessy commented on #71
Aw no :(

@AVGP I'm really sorry if this was because we delayed you giving any further information because you were waiting to speak with us :(

Mozilla folks: Any chance you could give us 1 more day?

[2018-09-11 21:57] #412 closed, assigned to nobody

[2018-09-11 21:57] #414 closed, assigned to nobody

[2018-09-11 21:57] #415 closed, assigned to nobody

[2018-09-11 21:58] #416 closed, assigned to nobody

[2018-09-11 21:58] #417 closed, assigned to nobody

[2018-09-11 21:58] #419 closed, assigned to arroway

[2018-09-11 21:58] #422 closed, assigned to nobody

[2018-09-11 21:58] #423 closed, assigned to nobody

[2018-09-11 21:58] #424 closed, assigned to nobody

[2018-09-11 21:59] #426 closed, assigned to nobody

[2018-09-11 21:59] #427 closed, assigned to nobody

[2018-09-11 21:59] #428 closed, assigned to nobody

[2018-09-11 21:59] #431 closed, assigned to nobody

[2018-09-11 21:59] #436 closed, assigned to nobody

[2018-09-11 22:00] #437 closed, assigned to nobody

[2018-09-11 22:00] #439 closed, assigned to nobody

[2018-09-11 22:00] #442 closed, assigned to nobody

[2018-09-11 22:00] #443 closed, assigned to nobody

[2018-09-11 22:00] #444 closed, assigned to nobody

[2018-09-11 22:01] #445 closed, assigned to nobody

[2018-09-11 22:01] #447 closed, assigned to nobody

[2018-09-11 22:01] #449 closed, assigned to nobody

[2018-09-11 22:01] #454 closed, assigned to nobody

[2018-09-11 22:01] #456 closed, assigned to jontutcher

[2018-09-11 22:02] #457 closed, assigned to nobody

[2018-09-11 22:02] #458 closed, assigned to nobody

[2018-09-11 22:02] #460 closed, assigned to nobody

[2018-09-11 22:02] #463 closed, assigned to jontutcher

[2018-09-11 22:02] #464 closed, assigned to nobody

[2018-09-11 22:03] #469 closed, assigned to nobody

[2018-09-11 22:03] #470 closed, assigned to nobody

[2018-09-11 22:03] #473 closed, assigned to nobody

[2018-09-11 22:03] #474 closed, assigned to nobody

[2018-09-11 22:03] #475 closed, assigned to nobody

[2018-09-11 22:04] #478 closed, assigned to arroway

[2018-09-11 22:04] #481 closed, assigned to arroway

[2018-09-11 22:04] #484 closed, assigned to nobody

[2018-09-11 22:04] #485 closed, assigned to nobody

[2018-09-11 22:04] #486 closed, assigned to jontutcher

[2018-09-11 22:05] #489 closed, assigned to nobody

[2018-09-11 22:05] #490 closed, assigned to nobody

[2018-09-11 22:05] #492 closed, assigned to nobody

[2018-09-11 22:05] #494 closed, assigned to nobody

[2018-09-11 22:05] #496 closed, assigned to nobody

[2018-09-11 22:06] #497 closed, assigned to nobody

[2018-09-11 22:06] #498 closed, assigned to nobody

[2018-09-11 22:06] #500 closed, assigned to nobody

[2018-09-11 22:06] #501 closed, assigned to jontutcher

[2018-09-11 22:06] #502 closed, assigned to nobody

[2018-09-11 22:07] #504 closed, assigned to nobody

[2018-09-11 22:07] #505 closed, assigned to nobody

[2018-09-11 22:07] #506 closed, assigned to nobody

[2018-09-11 22:07] #507 closed, assigned to nobody

[2018-09-11 22:07] #508 closed, assigned to nobody

[2018-09-11 22:07] #509 closed, assigned to nobody

[2018-09-11 22:08] #511 closed, assigned to nobody

[2018-09-11 22:08] #514 closed, assigned to nobody

[2018-09-11 22:08] #515 closed, assigned to arroway

[2018-09-11 22:08] #517 closed, assigned to nobody

[2018-09-11 22:09] #518 closed, assigned to nobody

[2018-09-11 22:09] #519 closed, assigned to nobody

[2018-09-11 22:09] #520 closed, assigned to nobody

[2018-09-11 22:09] #521 closed, assigned to nobody

[2018-09-11 22:09] #523 closed, assigned to nobody

[2018-09-11 22:10] #524 closed, assigned to nobody

[2018-09-11 22:10] #527 closed, assigned to nobody

[2018-09-11 22:10] #528 closed, assigned to nobody

[2018-09-11 22:10] #531 closed, assigned to jontutcher

[2018-09-11 22:11] #532 closed, assigned to nobody

[2018-09-11 22:11] #533 closed, assigned to nobody

[2018-09-11 22:11] #534 closed, assigned to nobody

[2018-09-11 22:11] #537 closed, assigned to jontutcher

[2018-09-11 22:11] #538 closed, assigned to nobody

[2018-09-11 22:12] #542 closed, assigned to arroway

[2018-09-11 22:12] #543 closed, assigned to nobody

[2018-09-11 22:12] #545 closed, assigned to nobody

[2018-09-11 23:22] #546 closed, assigned to nobody

[2018-09-11 23:23] #549 closed, assigned to nobody

[2018-09-11 23:23] #550 closed, assigned to nobody

[2018-09-11 23:23] #552 closed, assigned to nobody

[2018-09-11 23:23] #553 closed, assigned to nobody

[2018-09-11 23:23] #554 closed, assigned to nobody

[2018-09-11 23:24] #556 closed, assigned to nobody

[2018-09-11 23:24] #558 closed, assigned to nobody

[2018-09-11 23:24] #559 closed, assigned to nobody

[2018-09-11 23:24] #561 closed, assigned to nobody

[2018-09-11 23:24] #563 closed, assigned to nobody

[2018-09-11 23:25] #565 closed, assigned to nobody

[2018-09-11 23:25] #574 closed, assigned to nobody

[2018-09-11 23:25] #577 closed, assigned to nobody

[2018-09-11 23:25] #578 closed, assigned to nobody

[2018-09-11 23:26] #579 closed, assigned to nobody

[2018-09-11 23:26] #580 closed, assigned to jontutcher

[2018-09-11 23:26] #582 closed, assigned to nobody

[2018-09-11 23:26] #583 closed, assigned to nobody

[2018-09-11 23:26] #585 closed, assigned to nobody

[2018-09-11 23:27] #591 closed, assigned to nobody

[2018-09-11 23:27] #595 closed, assigned to nobody

[2018-09-11 23:27] #599 closed, assigned to nobody

[2018-09-11 23:27] #603 closed, assigned to nobody

[2018-09-11 23:27] #605 closed, assigned to nobody

[2018-09-11 23:28] #606 closed, assigned to nobody

[2018-09-11 23:28] #608 closed, assigned to nobody

[2018-09-11 23:28] #609 closed, assigned to nobody

[2018-09-11 23:28] #610 closed, assigned to nobody

[2018-09-11 23:28] #611 closed, assigned to nobody

[2018-09-11 23:29] #612 closed, assigned to nobody

[2018-09-11 23:29] #613 closed, assigned to nobody

[2018-09-11 23:29] #617 closed, assigned to nobody

[2018-09-11 23:29] #618 closed, assigned to nobody

[2018-09-11 23:29] #620 closed, assigned to arroway

[2018-09-11 23:30] #625 closed, assigned to nobody

[2018-09-11 23:30] #626 closed, assigned to nobody

[2018-09-11 23:30] #628 closed, assigned to nobody

[2018-09-11 23:30] #630 closed, assigned to jontutcher

[2018-09-11 23:31] #631 closed, assigned to nobody

[2018-09-11 23:31] #632 closed, assigned to nobody

[2018-09-11 23:31] #633 closed, assigned to arroway

[2018-09-11 23:31] #635 closed, assigned to nobody

[2018-09-11 23:31] #636 closed, assigned to nobody

[2018-09-11 23:31] #637 closed, assigned to nobody

[2018-09-11 23:32] #638 closed, assigned to nobody

[2018-09-11 23:32] #639 closed, assigned to nobody

[2018-09-11 23:32] #643 closed, assigned to jontutcher

[2018-09-11 23:32] #644 closed, assigned to nobody

[2018-09-11 23:32] #645 closed, assigned to nobody

[2018-09-11 23:33] #646 closed, assigned to nobody

[2018-09-11 23:33] #650 closed, assigned to nobody

[2018-09-11 23:33] #651 closed, assigned to nobody

[2018-09-11 23:33] #652 closed, assigned to nobody

[2018-09-11 23:33] #653 closed, assigned to nobody

[2018-09-11 23:34] #656 closed, assigned to nobody

[2018-09-11 23:34] #657 closed, assigned to nobody

[2018-09-11 23:34] #658 closed, assigned to nobody

[2018-09-11 23:34] #659 closed, assigned to nobody

[2018-09-11 23:34] #660 closed, assigned to nobody

[2018-09-11 23:35] #661 closed, assigned to nobody

[2018-09-11 23:35] #662 closed, assigned to nobody

[2018-09-11 23:35] #663 closed, assigned to arroway

[2018-09-11 23:35] #664 closed, assigned to nobody

[2018-09-11 23:35] #666 closed, assigned to arroway

[2018-09-11 23:36] #668 closed, assigned to arroway

[2018-09-11 23:36] #676 closed, assigned to nobody

[2018-09-11 23:36] #678 closed, assigned to Carotejada

[2018-09-11 23:36] #679 closed, assigned to nobody

[2018-09-11 23:36] #680 closed, assigned to nobody

[2018-09-11 23:36] #681 closed, assigned to nobody

[2018-09-11 23:37] #683 closed, assigned to nobody

[2018-09-11 23:37] #686 closed, assigned to nobody

[2018-09-11 23:37] #687 closed, assigned to nobody

[2018-09-11 23:37] #691 closed, assigned to nobody

[2018-09-11 23:37] #693 closed, assigned to nobody

[2018-09-11 23:38] #695 closed, assigned to nobody

[2018-09-11 23:38] #698 closed, assigned to nobody

[2018-09-11 23:38] #704 closed, assigned to nobody

[2018-09-11 23:38] #706 closed, assigned to nobody

[2018-09-11 23:38] #707 closed, assigned to nobody

[2018-09-11 23:39] #708 closed, assigned to nobody

[2018-09-11 23:39] #709 closed, assigned to nobody

[2018-09-11 23:39] #710 closed, assigned to nobody

[2018-09-11 23:39] #711 closed, assigned to arroway

[2018-09-11 23:39] #713 closed, assigned to nobody

[2018-09-11 23:40] #714 closed, assigned to arroway

[2018-09-11 23:40] #715 closed, assigned to jontutcher

[2018-09-11 23:40] #716 closed, assigned to nobody

[2018-09-11 23:40] #717 closed, assigned to nobody

[2018-09-11 23:40] #718 closed, assigned to nobody

[2018-09-11 23:41] #720 closed, assigned to nobody

[2018-09-11 23:41] #721 closed, assigned to nobody

[2018-09-11 23:41] #722 closed, assigned to nobody

[2018-09-11 23:41] #724 closed, assigned to nobody

[2018-09-11 23:41] #725 closed, assigned to nobody

[2018-09-11 23:42] #728 closed, assigned to nobody

[2018-09-11 23:42] #732 closed, assigned to nobody

[2018-09-11 23:42] #733 closed, assigned to nobody

[2018-09-11 23:42] #736 closed, assigned to nobody

[2018-09-11 23:42] #738 closed, assigned to nobody

[2018-09-11 23:43] #740 closed, assigned to nobody

[2018-09-11 23:43] #741 closed, assigned to jontutcher

[2018-09-11 23:43] #742 closed, assigned to nobody

[2018-09-12 01:00] #622 closed, assigned to nobody

[2018-09-12 03:52] AVGP commented on #71
No no no, I'm sorry. I'm pretty swamped right now and would love to hand
over to you. I didn't get around my emails or Twitter DMs in time :(

On Tue, Sep 11, 2018 at 11:57 PM poshaughnessy <notifications@github.com>
wrote:

[2018-09-12 06:39] randomcreator commented on #561
Thank  you,wish you and the team a successful festival.

On Wednesday, September 12, 2018, mozfest-bot <notifications@github.com>
wrote:

--
Regards

Tracy Kadesa,
LL.B ,University of Nairobi.
Dip KSL
tracykadesa.wordpress.com
legalwalk.wordpress.com

[2018-09-12 11:35] bunnybooboo commented on #529
This session was closed in error @elioqoshi - You're definitely in the P&S schedule for 2018. Reopening!

[2018-09-12 12:18] marcwalsh commented on #744
Thank you for taking the time to submit a session to MozFest.

Due to the high level of submissions, we’re unable to accept all proposals and unfortunately, your session was not part of the final group.

You'll receive a follow up email from us in the next few days.

[2018-09-12 12:18] #744 closed, assigned to nobody

[2018-09-12 15:06] hnstone commented on #479
Sarah,
I was wondering about the details of my travel stipend. Do you know the dates that will be covered? Also, I thought that if a youth zone was accepted then the students would be covered. Is this the case? Thank you for your time. I know you are really busy, but we are trying to plan to get the kids out of school etc.
Heather

[2018-09-12 15:08] Erioldoesdesign commented on #627
Has this been accepted? I may have missed the email confirming this!

[2018-09-12 15:40] rainsworth commented on #569
Hi, I'm confused as I received an email already stating that our session was accepted into the Decentralization space? @KadeMorton

[2018-09-12 16:39] rschulman commented on #569
@rainsworth Sorry for the confusion. Looks like this was an error on our part. We DO want you to be included in the decentralization space. I'll try to sort this out from our end.

[2018-09-12 23:56] autonome commented on #339
That answers the question, thanks for considering! If you have any slots
open up, Andre and I will be there either way, and happy to run the session.

On Tue, Sep 11, 2018 at 2:50 PM mozfest-bot <notifications@github.com>
wrote:

[2018-09-13 09:20] bhoom10 commented on #134
I'd like to add a secondary facilitator-Abhiram Ravikumar.
Thanks in advance!

Cheers,
Bhoomika

[2018-09-13 13:47] cubicgarden commented on #77
Cool looking forward to this :)

[2018-09-13 13:48] cubicgarden commented on #194
Ah so this is a science fair stall? We should be able to adapt it to fit

[2018-09-13 14:06] Saallen commented on #194
Hello @cubicgarden will that suit you?

[2018-09-13 15:51] tedarbyshire commented on #138
@bunnybooboo
I have a few logistics questions, I'd appreciate your help!
- Can we have two consecutive 40 minute sessions within the 90 minute time frame?
- Is there festival infrastructure registering which guests go to which sessions?
Thanks!
T

[2018-09-13 22:01] cubicgarden commented on #194
@Saallen Sounds like we could do this thanks

[2018-09-14 16:56] dasaderi commented on #575
Thank you for selecting this session! We are really excited to bring this project to Mozfest!

[2018-09-14 19:12] daniellecrobinson commented on #575
If robin can’t go, Kirstie will be there and can talk on this topic!

Sent from my iPhone

[2018-09-15 07:06] ryanwarsaw commented on #71
@poshaughnessy If you have a plan together to run the session, then I'm totally fine adding it into the roster, but I don't want to do that until there's some consensus. Let me know what you're thinking about doing, I still think this session could provide a lot of value to the space.

[2018-09-16 07:59] alicma303 commented on #745
HI I just want to add to this - I'm the project lead on The Glass Room,
Can we split out the session on the interactive advertising tool - and also have a slot for The Glass Room. This is a Mozilla funded project and we planned with Mozilla to convene a session to discuss how The Glass Room could work with libraries and other leanring orgsanisations.

Can we also discuss where we can set up The Gl

[2018-09-17 08:39] bunnybooboo commented on #745
@alicma303 Floor allocations are likely taking place this week (Thursday) along with an earlier team meeting on space design (Tuesday). We'll report back the moment we have further news/questions on the setup and clarity on privsec/openness.

[2018-09-17 09:14] bunnybooboo commented on #138
@tedarbyshire we've several things happening simultaneously this week:

1. implementing the schedule vs accepted session expectations
    - we've currently more 90 min requests than time slots
    - I'm seeking a schedule tweak which could resolve this but it would add a complexity to the schedule, so understandably might not get go ahead
    - in which case some will need trimming to 60 min
2. al

[2018-09-17 10:08] bunnybooboo commented on #10
Facilitator unable to attend without stipend. Unfortunately having to now close.

[2018-09-17 10:08] #10 closed

[2018-09-17 11:14] peterkwells commented on #413
@jontutcher hello, I submitted this and I am on GitHub :)

[2018-09-17 11:21] odiclaire commented on #411
Hi - can you confirm if this session has been accepted?

[2018-09-17 13:46] geocontrol commented on #593
Withdrawing this proposal as it does not appear to fit in MozFest this year.

[2018-09-17 15:10] Te-k commented on #327
Confirming here that we will be there with @sidtechnical

[2018-09-17 21:41] Saallen commented on #745
Hi @alicma303 Please note that this installation will take place within the P&S floor and not in the registration area of MozFest.

[2018-09-17 21:51] #593 closed, assigned to nobody

[2018-09-18 17:53] MisaRojo commented on #435
here's what I've found
•	It would be too late to ship a robot.  It takes months for international teams to do this. Another option would be to ship VEX robots without their batteries to London and buy batteries there. The robot will need to be assembled there.
•	Issue – we are not sure we have a duo, one adult and one related girl, available to go to meet your opportunity but also meet our safety

[2018-09-19 02:42] mamahtar commented on #214
Thank you for the question. The discussion will start off by sharing of everyone's experience as a women or queer person in the digital right movement and spaces/ events, whether or not they and their agenda feel included, the amount of effort they have to put in to make sure the community is represented. Then we move to discussing how the existing digital rights spaces encourage or discourage the

[2018-09-19 09:05] gbaman commented on #435
Thank you for taking the time to submit a session to MozFest.

Due to the high level of submissions, we’re unable to accept all proposals and unfortunately, your session was not part of the final group.

You'll receive a follow up email from us in the next few days.

[2018-09-19 09:05] #435 closed, assigned to nobody

[2018-09-19 09:08] gbaman commented on #56
This session unfortunately is no longer taking place by request from the facilitator.

[2018-09-19 09:08] #56 closed, assigned to nobody

[2018-09-19 09:09] gbaman commented on #122
This session is unfortunately no longer taking place by request of the facilitator.

[2018-09-19 09:09] #122 closed, assigned to nobody

[2018-09-19 09:09] gbaman commented on #250
This session is unfortunately no longer taking place by request of the facilitator.

[2018-09-19 09:09] #250 closed, assigned to nobody

[2018-09-19 15:35] matt-ifex commented on #206
Hi @tyrower- Are you are Mozilla contact point? We're excited to discuss moving this forward!

[2018-09-19 17:13] bunnybooboo commented on #745
@alicma303 we're considering around 3m² (32ft²) for this installation. Does this feel appropriate?

Re the breakout advertising session, we have several along that advertising theme so this feels an appropriate ask from us. It would have to be 60 minutes though.

[2018-09-19 17:19] bunnybooboo commented on #745
When you asked "also have a slot for Glass Room" we do already have #99 Are you speaking of a further request?

[2018-09-19 18:08] alicma303 commented on #745
yes - session #99 is not for the glass room - but 2 seperate projects,

what we'd like is a session to discuss with librarians and other
potential glass room hosts next steps for the project and how we can
develop it for their audiences,

thanks,

Alistair

On 19/09/18 19:19, David Ross wrote:

--

[2018-09-19 18:51] bunnybooboo commented on #745
Gallery pieces already have the option of a **scheduled** time in the event app for discussion at your installation which could be useful for this. Perhaps even both days if this might prove benefitial. We could even accomodate you at the Friday Science Fair if you're interested @alicma303 :wave:

[2018-09-20 06:57] alicma303 commented on #745
It's  a lot larger then 3 sqm - we normally ask for a minimum of 20 sqm
- i can send you details of this

I'm not sure what you mean by advertising session? but a 60 minute
session would be fine,

alistair

On 19/09/18 19:13, David Ross wrote:

--

[2018-09-20 11:01] bunnybooboo commented on #745
Yes @alicma303 please email me these details outside of this publicly viewable Github thread when you can. davross at protonmail dot com.

[2018-09-20 11:26] jenntbeard commented on #745
Yikes, that sounds like a huge space!

Speaking of space, I talked to Sarah in person yesterday and she said we
can put in a request for which floor we want at any time. Not guaranteed of
course, but they will consider it.

On Thu, Sep 20, 2018, 7:01 AM David Ross <notifications@github.com> wrote:

[2018-09-20 14:41] Fabrider commented on #535
Hellos @rschulman, is this the session that you emailed me about that was accepted? If so, I have a minor update in that my co-facilitator has changed - it is now Margarita Lopez from IFRC - her email is margarita.griffith@ifrc.org.

[2018-09-20 17:12] alicma303 commented on #745
Hi Jenn,

thanks -

you can download our pdf on it here:
https://cloud.tacticaltech.org/apps/files/?dir=/Shared/GlassRoomExperience%202018/Key%20docs/IoT%20documents&fileid=353821#pdfviewer

we had some space nr the balcony of the privacy floor last year,

but other public spaces would be good too -
we need some wall sapce and some table space
we can be flexible and adapt to spaces but 3sqm is pus

[2018-09-21 11:28] alexhemming commented on #292
Link to related issue where I'm conducting the planning for this session:
https://github.com/MozillaFestival/open-leaders-6/issues/37

[2018-09-21 12:22] hnstone commented on #476
We would need a laptop lab for this project please

[2018-09-21 12:35] gbaman commented on #292
Fantastic, thanks for linking it in @alexhemming 👍

[2018-09-21 12:36] chadsansing commented on #476
^^^ Thanks for adding the label, @gbaman.

[2018-09-21 12:53] hnstone commented on #479
Hello, we would like to request a 90-minute time slot if possible for VRStoryGram. Also, if we are chosen to only present one we would like to present VRStoryGram. However, we are ready and willing to also present #476 if you have space. If we could have an idea about how the room would be set up this will help us to prepare for what equipment etc we need to bring. Also, do you have a rough estima

[2018-09-21 12:53] hnstone commented on #479
Thank you so much for your support and making this happen. I am thrilled to have this opportunity.

[2018-09-21 12:53] karyritter commented on #476
Can I have the specs on the computers in the lab?

[2018-09-21 12:58] gbaman commented on #476
This is one for @tinagoetschi, but I doubt overly powerful. I also wouldn't assume stuff like dedicated graphics cards etc.
But Tina will know more on this one

[2018-09-21 13:38] karyritter commented on #476
A little more about this session: Participants will be able to quickly acquire 360 photos from online repositories or anywhere with 360 street view footage as there is a direct plugin in the application. The 360 photos can be of their home town or favorite spot or any other place that they would like to share with others. The participants can then add information in the form of text popups and voi

[2018-09-21 14:49] michaelmcandrew commented on #300
hey there, fyi, my github handle is @michaelmcandrew - @3sd is the org name (which i don't think i get notified about).

it's not the kind of thing you can do on a phone so yeah, a computer would be necessary for each group. great if you can cover the sms fees :)

[2018-09-21 18:31] afrinrahman15 commented on #184
Looks Good!  😇

[2018-09-22 10:57] gbaman commented on #701
Unfortunately due to lack of communication from the primary facilitator in this session, we have decided to remove it from our lineup.

[2018-09-22 10:57] #701 closed, assigned to tyrower

[2018-09-22 18:04] carolinux commented on #153
Can run this in 60 minutes as well if necessary for scheduling purposes

[2018-09-23 11:48] rysiekpl commented on #466
Looks good!

[2018-09-23 16:11] gbaman commented on #600
Unfortunately this facilitator wasn't able to secure a visa in time for the festival, so the session is being closed.

[2018-09-23 16:11] #600 closed, assigned to emrysgreen

[2018-09-24 11:01] AnamikaPV commented on #438
"Looks Good".

[2018-09-24 12:45] gbaman commented on #243
This session is no longer taking place as the facilitator will be focusing on other accepted sessions.

[2018-09-24 12:45] #243 closed, assigned to chadsansing

[2018-09-24 13:18] jontutcher commented on #134
Hi @bhoom10. I can confirm that we've added @abhi12ravi as a co-facilitator to this session and are expecting him to attend Mozfest.

I'm not sure at the moment whether we can update the Github Issue description, as it's driven from a different process. If we can, we will!

[2018-09-24 13:19] anantjain-xyz commented on #619
Session title looks good. I wrote the description above for the organizers. For a more audience-focused description, how about we change it to:

Let me know if it looks good. Thanks!

[2018-09-25 09:13] bunnybooboo commented on #619
Perfect! Thanks for the great adjustment @anant90

[2018-09-25 16:17] paulsonnentag commented on #453
We have another Facilitator:

**[ Other Facilitator 3's Name ]** Amanda Jerkovic

[2018-09-25 19:45] owenblacker commented on #255
@arroway: J'espère que vous pouvez soumettre cette session encore à un Mozfest à l'avenir qqtemps ; elle m'apparaît très interessante. J'espère que vous pouvez jouir de Mozfest quand-même :smiley:

[2018-09-25 20:53] mehan commented on #745
Hi @alicma303,

We're really keen to have your miniature Glass Room in our P&S space this year. However, there's no way we can guarantee 20 square meters of space. We actually have yet to receive the floor plans for our space this year, so we actually don't yet know how much space we'll have in total, let alone how much we may be able to allocate for your installation. Are there ways you could be

[2018-09-25 22:47] gbaman commented on #461
Just to flag this one @ryanwarsaw, @teknoteacher has also been accepted in Youth Zone.
So we need to make sure we don't overlap.

https://github.com/MozillaFestival/mozfest-program-2018/issues/406
https://github.com/MozillaFestival/mozfest-program-2018/issues/465

[2018-09-25 22:54] gbaman commented on #629
Just to flag this one @MozillaFestival/2018-decentralisation-wranglers, this group has also been accepted in Youth Zone.
So we need to make sure we don't overlap (hence our added label). Lets make sure we chat once scheduling is underway about this one!
https://github.com/MozillaFestival/mozfest-program-2018/issues/566

[2018-09-25 22:56] gbaman commented on #677
Just to flag this one @MozillaFestival/2018-decentralisation-wranglers, @elpiniki has also been accepted in Youth Zone for https://github.com/MozillaFestival/mozfest-program-2018/issues/684
So we need to make sure we don't overlap (hence our added label). Lets make sure we chat once scheduling is underway about this one!

[2018-09-26 05:17] rchampieux commented on #575
I'm still hoping to attend virtually, but it would be fantastic to tap Kristie's experience.  @dasaderi and I have a project meeting tomorrow and are excited to dig into our session plans.

[2018-09-26 05:23] rchampieux commented on #731
Loving this ethnographic/design thinking approach and very excited to hear about what results from this session.  Plus, super happy about the strong PNW presence at MozFest!  🔥 💯 ❤️ FYI @dasaderi @daniellecrobinson

[2018-09-26 10:29] MobileMaggie commented on #536
Wonderful - it would be great to work on this one together!!

[2018-09-26 12:30] MobileMaggie commented on #503
An excellent session - I hope that we're not parallel over in https://github.com/MozillaFestival/mozfest-program-2018/issues/536

[2018-09-26 23:04] Derds commented on #672
Chill Out Space-
Including: Card Games, Colouring pages, Misc Installations and Stalls, maybe beanbags....

[2018-09-26 23:05] albertyumol commented on #192
Hello!!! Kindly see the title and description below ^_^:

Title: What is random?

Description: How are random numbers generated and used to protect the web? Want to create art with random numbers? Or use your voice to generate random numbers that can be your personal password? Or maybe code your own random number guessing game? Head to ‘What is random?’ and drown with the randomness that surrounds

[2018-09-27 07:38] emrysgreen commented on #512
Just marking here that Smartify are due to send some artwork files over for us to print, and that we shall include in a weekend long exhibition with Artwork in the YZ and in other spaces throughout as to whomever will take them for a trail through the building.  Art & Data happy to collaborate.  A new session description will be needed and a Lightning Talk could happen on the Sunday.

[2018-09-27 07:47] emrysgreen commented on #453
Thanks @paulsonnentag - we will need their email address too for tickets.  I'm emailing you shortly so you can reply to me with it then if that's ok :)

[2018-09-27 09:09] paulsonnentag commented on #453
Amanda's email is: amanda.jerkovic@gmail.com

[2018-09-27 09:17] roxanne-leitao commented on #24
Looks good!

[2018-09-27 18:56] aubriejohnson commented on #325
Hello @bunnybooboo! The title is still good, but I have a few changes to the second paragraph of the description:

Thanks!

[2018-09-27 19:58] stephwright commented on #560
@Iotmark ... we've been trying to reach you via email but have rec'd no response.  Can you get in touch with us at opennessmozfest at gmail dot com?

[2018-09-27 19:59] stephwright commented on #100
@netolic500 ... we've been trying to reach you via email but have rec'd no response.  Can you please get in touch with us at opennessmozfest at gmail dot com?

[2018-09-27 19:59] evelynaustin commented on #78
Heya! Could we make some small changes to the text in order to make it more valuable for people reading about the session through the app? We were thinking:

Title:
Lost and found: get access to your data!
Description:
How can data access requests inform our activism and journalism, or otherwise play a role in our personal and working lives? After a short introduction into our (new) data rights, w

[2018-09-27 20:07] #719 closed, assigned to nobody

[2018-09-27 20:11] #294 closed, assigned to nobody

[2018-09-27 20:15] #19 closed

[2018-09-27 20:15] #7 closed

[2018-09-27 23:31] #560 closed, assigned to nobody

[2018-09-27 23:31] #100 closed, assigned to nobody

[2018-09-28 08:35] bunnybooboo commented on #448
[via email]
For our session (https://github.com/MozillaFestival/mozfest-program-2018/issues/448), we would like to have this as the title and description:

The title: The African art of Social Engineering
The Description: Despite the increasing recognition of the psychological nature of cyber attacks, research into the role of psychology in cybersecurity has continued to be undermined. In this ses

[2018-09-28 08:51] Nefert commented on #576
Looks good!

[2018-09-28 08:52] Nefert commented on #576
Related reading<A bit lengthy> http://www.tagelmust.com/in-kenyas-mobile-lending-scene-the-cost-of-convenience-is-your-deepest-secrets-the-lenders-dont-think-you-mind/

[2018-09-28 09:47] Te-k commented on #327
Confirming here that the title and description are good for the schedule.

For materials, we will need to print the zines and have colourful pens etc. What is provided by MozFest ? Should we print/buy and get reimbursed ?

[2018-09-28 10:54] chadsansing commented on #244
Quick question, @DigitalGrassroots - about how many copies of the game do you plan to bring to MozFest to have available for the session?

[2018-09-28 11:13] #615 closed, assigned to maboa

[2018-09-28 11:22] agoramaHub commented on #590
Looks Good!

[2018-09-28 14:05] LauraHilliger commented on #166
Please change the title to - Actions Matter: Visualizing Impact with Greenpeace. Otherwise all good from our side. Also, we'll need 4 tickets - @comzeradd and our incredible new UX Designer are joining!

[2018-09-28 14:22] saoun commented on #258
Adding a 4th facilitator: Samantha Grassle

Otherwise, looks good!

[2018-09-28 14:23] saoun commented on #232
Looks good!

[2018-09-28 14:46] danielryne commented on #629
Hey @gbaman if you want to snatch them for your zone, that's no problem at all! Let me know either way, and we'll adjust our schedule accordingly.

[2018-09-28 15:18] gbaman commented on #629
@danielryne don't worry, I think this one better suits Digital Inclusion, will share you our schedule so far.

[2018-09-28 17:50] profdiggity commented on #734
The title of the session needs to be renamed to "Tracking Mobile Trackers" INSTEAD OF "Tracking Down Mobile Trackers".  Just remove the word "Down" from the session name, and everything else looks great!

[2018-09-28 19:46] mbeylin commented on #483
The only change which is needed is:
- [ Other Facilitator 1's Name ] Blair Ball

[2018-09-28 20:52] devincdillon commented on #120
hi @KadeMorton updating title and description, as requested

**Updated title:** Demystifying AI: Create your own predictive model

**Updated description** Participants will build their own AI model to explore how AI and machine learning use data to make decisions. Every participant can decide what their model will predict and build their own dataset of text, number or images. We will use ML4K (htt

[2018-09-29 00:38] contraexemplo commented on #159
### Title
I'd like to make a small change. New title:
**Ephemeral, lost, forgotten: how to help to preserve human history in an ever-changing world**

### Description
If historians from the future had to study our current way of life, how easy would it be to retrieve records about our present — especially digital content?

With the growing popularity of social media, there's a tendency of prioriti

[2018-09-29 09:59] phivk commented on #247
hi! In response to the email this week: we're happy with the current title, but would like to update the description to the following:

Join us for this hands-on workshop where we will explore different storytelling formats of the web, using various open cultural collections.

Organisations like galleries, libraries, archives and museums are increasingly opening up their collections online 🎉 This

[2018-09-29 11:23] webmink commented on #487
Hi! I need to book my travel and won't have the space to be in London for the duration given this is now just a session. Can you give me some guidance on when I need to be there please?  Many thanks!

[2018-09-29 11:58] phivk commented on #247
This is our updated materials list:

5 (for each group) x a set of the following:
* Flipchart paper
* Markers
* Post-its
* [Blu-tack](https://en.wikipedia.org/wiki/Blu_Tack)

[2018-09-29 12:03] DigitalGrassroots commented on #244
@chadsansing
We will have 2 copies of the game present. 2 - 8 players per copy. The softcopy version of the entire game board and rule book will be available for anyone at the event

[2018-09-29 15:05] cmutanyi commented on #567
Looks good! :)

[2018-09-29 21:35] kaodro commented on #739
Hi! I would like to change the title to "Constructing the "don’t be evil" company, this time for real".

Also, if possible I would move the paragraph: "In this session we will be exploring a fantasy world in which tech companies are actually incentivized to develop ethical products with people first in mind, instead of profits. Not only because it is the right thing to do but because it aligns wit

[2018-09-30 10:45] mickfuzz commented on #359
Just having a meeting and taking notes about our key messages (outside of the main activity)

- why do we start with such a simple, retro block game?
  - 0 install
  - understandable code - more readable
- coding in families is a good way to learn cooperation and other non tech skills
- having a session where we get real people to play and test our games is a great goal and a fun end to the sessio

[2018-09-30 10:46] gidsg commented on #322
@KadeMorton please can you amend the session description to start with:

Discuss the future of podcasting and share your favourite shows with other podcast fans!

[2018-09-30 12:30] #76 closed, assigned to nobody

[2018-09-30 14:35] elpiniki commented on #684
@elpiniki https://mozfest.gbaman.info/scheduling/schedule Session 7a . Sunday 11:00-12:00, Level 2 - 212 (Large classroom - 30 seats) https://docs.google.com/document/d/1TBrlagqaP3W7W8Fcnav6oFjSWwSBgEdzjnW4dJKC2SQ/edit#

[2018-09-30 17:12] bunnybooboo commented on #619
Schedule description now edited. :heavy_check_mark:

[2018-09-30 17:14] bunnybooboo commented on #192
Schedule updated with new description. :heavy_check_mark:

[2018-09-30 17:24] bunnybooboo commented on #325
Hmm I'm a little confused here. `What will happen in your session` is usually what we grab as the decription, and in this case it very descriptive. I've added the edited outcomes too. Schedule updated with this new info. Let's take a later look at how this shows in the app during the week. I'll provide you with a link to be able to directly edit.

[2018-09-30 17:26] bunnybooboo commented on #78
Schedule edited with new description. :heavy_check_mark:

[2018-09-30 17:28] bunnybooboo commented on #448
Schedule updated with new description. :heavy_check_mark:

[2018-09-30 17:32] bunnybooboo commented on #327
Thanks! Materials is something we'll chase later this week. Standard stuff like paper, pens, post-its are ordered by the thousands - so that part is done. There is, however, no printing made available to us by the venue. We'll discuss this shortly.

[2018-09-30 17:34] bunnybooboo commented on #258
@saoun Could you please email me with this facilitator's email address to be added to our ticketing information?

[2018-09-30 17:35] bunnybooboo commented on #734
Schedule title edited accordingly. :heavy_check_mark:

[2018-09-30 17:38] bunnybooboo commented on #727
Schedule description scraped as is shown here. :heavy_check_mark:

[2018-09-30 19:06] davegoopot commented on #359
Hi @Jcoopt

I think you are our wrangler for this talk. @mickfuzz is the primary person running this session. I've filled in a form as a secondary facilitator. Two of my sons, (aged 16 and 11) will be also facilitating in the session. What do I need to do about getting them registered and having tickets please?

Thanks, Dave.

[2018-09-30 19:21] mickfuzz commented on #359
Thanks Dave!
@gbaman @Jcoopt It is worth updating some of the info above too.
It's Barney and Ted Potts who are the sons (not Joe as mentioned above)
Also Suzie can't make it. So we are after tickets for...
- Mick Chesterman
- Dave Potts
- Barney Potts
- Ted Potts

Thanks!

[2018-09-30 20:51] aubriejohnson commented on #325
Hey @bunnybooboo, if the edits don't make sense or the copy is too long feel free to remove or revert to original. Also happy to revise, if need be.

[2018-10-01 03:41] saoun commented on #258
@bunnybooboo it's samanthagrassle@gmail.com

[2018-10-01 09:06] wiebkehere commented on #503
This session can also be run in 60 minutes, if that makes scheduling easier.

[2018-10-01 09:26] rdbartlett commented on #350
I'm happy with this description going in the program :)

[2018-10-01 12:40] alicma303 commented on #745
hi jenn - we can be flexible!!

if you have, say a 4m table with a wall behind it -that could work,

as long as there is space in front - and we'd need to walls and some
monitors

do you have any floorplans yet?

On 20/09/18 13:26, Jenn Beard wrote:

--

[2018-10-01 12:51] GeorgLink commented on #375
- The title and description are okay.
- We are okay with doing a 60 minute session to allow more sessions at MozFest.
- Jona Azizaj (@jonatoni) cannot come to MozFest, please take her off the session.
- Materials: We would like to have notecards and pens for all participants and a pin-wall where we can collect everything (with pins of course).

@rgaiacs correct me if necessary.

[2018-10-01 14:38] Jcoopt commented on #359
@mickfuzz @davegoopot Facilitator ticket registration will be handled in the next week or so. We'll email/slack you all about this (for obvious reasons), once the go ahead has been given. Thanks for keeping us updated!

[2018-10-01 14:46] bunnybooboo commented on #258
Added to spreadsheet. Deleting here.

[2018-10-01 14:56] rainsworth commented on #569
The description looks good!

I don't believe we included it in our application, but we will need 3 computer monitors for our session. Is it possible for MozFest/Ravensbourne to supply these?

[2018-10-01 15:45] rgaiacs commented on #375
Jona Azizaj (@jonatoni) cannot come to MozFest, please take **her** off the session.

[2018-10-01 17:32] bonlth commented on #586
Title and description looks good.

[2018-10-01 20:32] LucyeoH-zz commented on #568
Hey @ryanwarsaw

I'm supporting Lindsay in this space and we're trying to figure out what time we'll be able to set up the installation (as it takes quite a bit of time).

Also what our next steps are for ensuring we have a table, 2 monitors or TV screens for the exhibit?

Thnaks!

[2018-10-01 20:34] ryanwarsaw commented on #568
@LucyeoH There is an email going out very soon that'll collect all of this information for scheduling purposes, as far as the equipment goes that's already documented to my knowledge.

[2018-10-01 21:19] Biscuitnapper commented on #700
All good for me. Happy for this to be added as is to the program.

[2018-10-01 22:23] janetpkr commented on #91
Change title to, "Prototyping tools for image sharing on the web, featuring CC search"

cc @pa-w

[2018-10-01 22:28] gbaman commented on #433
Unfortunately this facilitator is no longer planning to attending the festival this year, so this session is being closed.

[2018-10-01 22:28] #433 closed, assigned to tinagoetschi, simtor

[2018-10-02 00:56] graciellehigino commented on #259
Hey, guys! The title of the session can stay the same. I've made a few changes to the description. Here's a new version:

How can we explore different senses to communicate science? What are the limits for science communication? In this session, we will try to push the boundaries of IGNITE (a project to train scientists in Science Communication): we will first present the lessons we’ve already bui

[2018-10-02 04:12] KadeMorton commented on #569
I will check regarding the monitors but @rainsworth I assume not. I would see if you are able to source yourself and/or see if alternative arrangements can be made. There is also the issue of cords, even if we are able to secure monitors we can't promise the cords will match the ports on the devices you have. Is it possible for three people to bring laptops, perhaps?

[2018-10-02 11:05] dajbelshaw commented on #298
@KadeMorton Could you update the title and description please?

### Help us build a federated social network for educators using ActivityPub

In this workshop, we'll not only be discussing decentralisation, but practising it! Participants will be introducing one another to federated platforms and the ActivityPub protocol (a W3C standard) which powers Mastodon and other networks. We'll present the

[2018-10-02 12:27] #149 closed, assigned to maboa, Carotejada

[2018-10-02 13:54] kellyjeanne9 commented on #634
We need to update our presenter list:

It will now be:
Kelly Doyle
Mark Cridge @markcridge
Louise Crow @crowbot
Owen Stephens @ostephens

Everything else is ready to go.

Thanks!

[2018-10-02 17:31] elioqoshi commented on #529
Thanks again! This looks good to go from my side

[2018-10-02 19:38] Yannael commented on #472
@KadeMorton Looking at Xenshana theme, very inspiring. And I confirm the title and description!

[2018-10-02 19:52] #712 closed, assigned to nobody

[2018-10-02 22:48] emceeaich commented on #467
Supplies list:

* Construction Paper/Cardstock in mulitple colors
* Scissors
* Scotch tape
* Markers in multiple colors

Optional but good to have:

4x Raspberry Pi Zero 0 with headers
https://shop.pimoroni.com/products/raspberry-pi-zero-wh-with-pre-soldered-header

2x Pimoroni inky pi hat
https://shop.pimoroni.com/products/inky-phat?variant=12549254905939

2x Pimoroni Blinkt!
https://shop.pimoron

[2018-10-03 06:45] priyankanag commented on #162
Hey @ryanwarsaw,
The facilitator will not be able to make to MozFest and thus we need to drop this session. Please add the necessary labels and remove it from our schedule.

[2018-10-03 14:40] jenntbeard commented on #745
Hi, sorry for the delay - we have identified space for you. We'll be on the 9th floor of Ravensbourne. There are three fixed tables (sort of like lab benches) in Studio 906 (see attachment). We can give you two of those if that will work. They are very sturdy, have plenty of power outlets and would allow for people to move around the front and back of the displays. Unfortunately, there is no signi

[2018-10-03 15:16] jenntbeard commented on #745
Hi, sorry for the delay - we have identified space for you. We'll be on the 9th floor of Ravensbourne. There are three fixed tables (sort of like lab benches) in Studio 906 (see attachment). We can give you two of those if that will work. They are very sturdy, have plenty of power outlets and would allow for people to move around the front and back of the displays. Unfortunately, there is no signi

[2018-10-04 00:47] profdiggity commented on #734
would graphics be helpful at this point for promotion?  I have CC BY-SA SVG and PNG images for this session.  See for example: https://mastodon.social/@privacylab/100720206531442161

[2018-10-04 07:51] AnamikaPV commented on #438
Hi, Can we add a facilitator to our session?

[2018-10-04 08:25] alicma303 commented on #745
that sounds good - many thanks for hunting this space down :)

is this still in the privacy section?

2 questions:

1) can we have boards or possibly hang our selfie poster from the ceiling?

2) can we have two displays with media players?

thanks,

alistair

On 03/10/18 16:40, Jenn Beard wrote:

--

[2018-10-04 13:25] jenntbeard commented on #745
No problem. Yes, this is on the Privacy & Security Floor. You can have boards but the ceilings are very high and hanging anything requires a ladder. It would be better to have it on a self-supporting stand (or if there are only two, you could lean them against the wall with windows). What kind of media players are you needing? We have monitors that you can connect to a laptop, is that what you nee

[2018-10-04 13:41] alicma303 commented on #745
hi - all sounds good!

for the screens - it would be better if the screens could play mp4
videos directly from a usb stick, if they are TVs we should be fine - if
they are just plain monitors we'll need a pc or other media player,

thanks,
alistair

On 04/10/18 15:25, Jenn Beard wrote:

--

[2018-10-04 13:51] jenntbeard commented on #745
@Saallen @bunnybooboo Is this a type of screen we can request? (They'll need two.) Thanks both!

[2018-10-04 13:59] #162 closed, assigned to ryanwarsaw

[2018-10-05 09:56] jontutcher commented on #18
Njeri sadly can't attend this year, so I'm closing this issue.

[2018-10-05 09:56] #18 closed

[2018-10-05 09:58] jontutcher commented on #23
Lindsay and Libby can't attend this year :( , so I'm closing this issue.

[2018-10-05 09:58] #23 closed

[2018-10-05 10:00] jontutcher commented on #34
Dan doesn't have time to attend, sadly. Closing this issue off now!

[2018-10-05 10:00] #34 closed, assigned to nobody

[2018-10-05 10:00] jontutcher commented on #149
Closed because Martha is unable to attend

[2018-10-05 10:04] jontutcher commented on #177
Leana can't attend this year, so I'm closing this issue.

[2018-10-05 10:04] #177 closed, assigned to nobody

[2018-10-05 11:15] emrysgreen commented on #588
Lightning talk accepted, to schedule for Saturday ideally.  To confirm time.

[2018-10-06 02:58] KadeMorton commented on #569
@rainsworth I've requested the monitors. I'll let you know when I hear more.

[2018-10-06 04:10] KadeMorton commented on #62
Closing as facilitator has indicated they cannot make it to the festival.

[2018-10-06 04:10] #62 closed, assigned to nobody

[2018-10-06 14:31] rainsworth commented on #569
@KadeMorton thank you!

[2018-10-06 15:15] bunnybooboo commented on #438
Yes @AnamikaPV you can. Please send me a separate email with their details to allow me to escalate to ticketing and add them to Guidebook.

[2018-10-06 15:30] bunnybooboo commented on #734
Sure! An image can be added to your session listing, which I sent you the link to today. 640 pixels wide by 240 pixels tall.

[2018-10-07 08:24] bunnybooboo commented on #438
Confirming additional facilitator - Ramakrishnan Muthukrishnan - has been added to schedule and MozFest ticketing.

[2018-10-07 08:45] bunnybooboo commented on #24
Confirming the addition of - Isabel Lopez-Neira AND Pras Gunasekera - to your session and ticketing.

[2018-10-07 09:03] veronwklai commented on #291
@chadsansing Details of this event updated based on the conversation we had on last Friday. I have copied this from my guidebook update.

[ UUID ] c2d09ff9-9b78-4309-b11c-0a21a1dbb780

[ Session Name ] Youth, LGBTQ and You: Building allyship to make a safer, healthier internet for all
[ Primary Space ] Queering MozFest
[ Secondary Space ] Youth Zone

[ Submitter's Name ] Veron WK Lai
[ Submitter's

[2018-10-07 21:21] sentenwin commented on #201
Thanks @KadeMorton

[2018-10-08 06:29] AnamikaPV commented on #438
Awesome, Thanks!

[2018-10-08 08:22] #278 closed, assigned to ryanwarsaw

[2018-10-08 14:54] katjaq commented on #114
![](https://user-images.githubusercontent.com/6297454/32104270-96db0afa-bb1b-11e7-8911-786d420c308a.png)

[2018-10-09 14:08] clare-stanton commented on #462
Hi, I was told it would be useful to clarify the materials requested for my session: scissors, glue sticks, tape, loose paper, and sharpies would all be great. Additionally, since the session will involve making and displaying some art, it would be wonderful to be in a space that would easily allow for that, if possible! Thank you :)

[2018-10-09 18:21] bunnybooboo commented on #138
Confirming the replacement of the previously mentioned co-facilitators with:

Hector Miller-Bakewell

..also for archival purposes recognising the renaming of this session to the improved "How To Be Better Than Compliant"

[2018-10-10 07:23] ryanwarsaw commented on #389
This session was a late acceptance, but in the official roster for the Web Literacy space! 🎉

[2018-10-10 20:39] davegoopot commented on #359
Hi @Jcoopt and @gbaman ,

I've got my (Dave Potts) facilitor's ticket through today and I've completed registration. What happens about my sons Barney Potts and Ted Potts, who will also be facilitators on the session?

Thanks, D.

[2018-10-10 20:41] NdiTendai commented on #503
Hi Wiebke, I sent you an email  to your onsubject address regarding your session Build your own air quality sensor! Could you please get in touch if you would still like to facilitate this session in the Decentralisation space? Thanks

[2018-10-11 07:32] wiebkehere commented on #503
Hi Ndi! I don't think I saw your message. When was it sent? What was the sender address? Could you send again?

[2018-10-11 09:38] graciellehigino commented on #259
### **Session plan:**
_In this session we are going to discuss accessibility in Science Communication, try to come up with unique solutions, and think on how we can train scientists to use these solutions when communicating science._

**Setting up the space**: no order! For the first few minutes, people will be standing and walking around the room. For the rest of the session, they can use the spa

[2018-10-11 10:14] kmahelona commented on #284
*Guidebook Details*
### Session Name
Open Source from an Indigenous Perspective

### History
We [implemented](https://koreromaori.io/) automatic speech recognition for te reo Māori using Mozilla's DeepSpeech. We quickly realised that our tikanga (cultural customs) around protecting indigenous knowledge needed to be documented in a way that would allow us to embrace digital technologies while prese

[2018-10-11 17:43] KadeMorton commented on #259
Hi @graciellehigino Please forgive us for the slow response. We have requested all the items you have listed and we should be hearing back soon about procuring them, so we will give you further updates on that. What I know we can provide: sticky notes, flip-chart paper, white board, projector, pens, paper. The other items are with the festival organisers, but I would try and make some contingency

[2018-10-12 10:59] bunnybooboo commented on #192
@albert1177 we're finalising our screen/monitor supplies through the entire venue. You have NOT currently asked for a screen. Do you require one?

[2018-10-12 12:51] albertyumol commented on #192
Good day David!

I would just inform you if it is possible for me to borrow the following materials for my session:

    (4) LCD monitor (any size will do)
    (2) 2 extra laptops (preferably with Python installed)
    (2) extension chords
    (1) projector

Thanks a lot and may you have a good day ahead!

[2018-10-12 16:21] bunnybooboo commented on #326
Re-opened as an opportunity has opened to invite this facilitator. Escalating via urgent email.

[2018-10-12 16:39] bunnybooboo commented on #192
The monitor I can confirm with you immediately. The rest is being handled via MozFest Production team who I will notify of this list. Thanks for the rapid response @albert1177

[2018-10-13 10:16] bunnybooboo commented on #737
Confirming additional session facilitator Tsolmonkhuu Lkhamkhuu. Added to the MozFest scheduling app and personal profile edit link provided via email.

[2018-10-13 11:46] bunnybooboo commented on #184
Closing this session due to circumstances beyond our control. Hope to see you in the future Mehidia.

[2018-10-13 11:46] #184 closed, assigned to nobody

[2018-10-13 14:43] #598 closed, assigned to nobody

[2018-10-14 16:18] bunnybooboo commented on #702
Confirming your additional facilitator - Aimilia Givropoulou.

[2018-10-15 08:39] rzr commented on #690
For the record, here is the schedule entry

https://guidebook.com/guide/147793/event/21682717/

Build "Privacy by design" Webthings with IoT.js on Tizen:RT and more."
Date & Time
Oct 27th at 2:00 PM until 3:00 PM
Track
Privacy and Security
Location
Level 9 - 907

[2018-10-15 18:46] Malwine commented on #195
All notes, templates on our session can be found here: https://github.com/Malwine/make-zines

[2018-10-16 01:00] chadsansing commented on #544
Closing this as @xynosis can no longer attend MozFest.

[2018-10-16 01:00] #544 closed, assigned to chadsansing

[2018-10-16 07:25] bunnybooboo commented on #60
Facilitator no longer able to attend. Stick at it @klmedeiros this was a really cool proposal.

[2018-10-16 07:25] #60 closed, assigned to nobody

[2018-10-16 12:12] bunnybooboo commented on #99
Confirming additional facilitator - Safa Ghnaim.

[2018-10-16 13:42] #169 closed, assigned to nobody

[2018-10-16 13:43] abbycabs commented on #155
Hi all! @itzelmv has reached out asking for confirmation that an interpreter will be present. Who should she contact?

[2018-10-16 14:11] MobileMaggie commented on #536
We've gotten an Etherpad going over here, for anyone who would like to start sharing notes with us: https://etherpad.net/p/DIY_Citizen_Observatories

That will also be our note-taking pad during the session itself

[2018-10-16 15:09] graciellehigino commented on #259
Thank you, @KadeMorton ! I'm prepared to take some of the materials from home and explore other ways to do the session. Good thing with MozFest is that the sessions are extremely flexible, always a surprise, and that's awesome!

[2018-10-16 16:52] mekline commented on #575
Do you already have enough existing examples to work with? A few people in my corner of 'science twitter' have been sharing lab manuals/expectations for their students recently, and I think at least a few of them explicitly cover codes of conduct...

[2018-10-16 17:19] mavroudisv commented on #429
@bunnybooboo
Last week, we made some updates to our session details. They appear 100% correct here: https://guidebook.com/guide/147793/event/21682603/

Do we need to push the updates anywhere else?

[2018-10-16 17:23] ryanwarsaw commented on #155
Hey @itzelmv, @acabunoc: Thank you for bringing this up to my attention, we've escalated the priority and this is currently assigned to @Btayeg, she should reach out to you soon with more information.

[2018-10-16 17:51] Saallen commented on #155
I can confirm we will have a BSL sign interpreter onsite for this event.
Can you please email us at festival@mozilla.org to share session outline and we can connect.

[2018-10-16 18:15] dasaderi commented on #575
Thank you @mekline. Yes, we do have some example, but the more the merrier.

[Here](https://github.com/dasaderi/Lab_CoC_templates) is the repo where we started to gather some info and drafted a template. I look forward to gather more input at Mozfest.

[2018-10-16 22:34] himalayajung commented on #495
Hi @KadeMorton, Sorry for a very late reply. If there is still time can you please explain what does it entail?

[2018-10-16 22:36] himalayajung commented on #495
Hi all, we would be demonstrating a very early version (based in Ethereum) of Proof of Idea in this session. Proof of Idea allows curating a list of items with desired attributes in a decentralized fashion.
https://github.com/open-science-org/wiki/blob/master/Proof_of_Idea.pdf

[2018-10-17 19:15] dasaderi commented on #259
@graciellehigino I'm super excited about this session. The plan is stellar! 🌟

[2018-10-18 13:10] MobileMaggie commented on #536
This Workshop will take place in the Openness Space on the 7th Floor - Studio 702b -  on Sunday 28th November at 11:00 . Don't forget that the clocks go back the night before - an extra hour of sleep, yay! :)

You can add this session to your Guidebook Schedule here: https://guidebook.com/guide/147793/event/21682649/

[2018-10-18 13:57] dasaderi commented on #551
This event is part of series of Live-Streamed Prerpint Journal Clubs our team is putting together for Open Access Week 2018. [Here](https://prereview.org/users/153686/articles/326789-join-prereview-s-community-for-open-access-week-2018) is more information on the events.

The first three require registration as they are co-hosted by [PLOS](https://blogs.plos.org/plos/2018/10/live-streamed-preprint

[2018-10-18 23:14] Monsauce commented on #551
Hello good people of the Decentralization wranglers just checking in to see if we can have a room for the session. As we are doing a live call it would be helpful to have a space where the background noise is low.

[2018-10-21 10:09] bunnybooboo commented on #429
Well we know here at least it's fully archived. Pulled it here..

[2018-10-21 10:57] omudongo commented on #31
Lesson plan: [Digital Rights & Online Privacy: New Challenge for Youths](https://thimbleprojects.org/omudongo/565269/)

[2018-10-21 14:36] bunnybooboo commented on #570
As requested via email, this installation and panel session have been removed from the schedule.

[2018-10-21 14:36] #570 closed, assigned to nobody

[2018-10-21 19:30] chadsansing commented on #31
@omudongo, hello! We need a bit of information from you. You recently submitted a request for laptops for your session, but previously, you had not asked for any. We are fairly late in the scheduling process and will do our best to accommodate you, but we cannot guarantee the laptops you recently requested.

Can you please respond to this comment and let us know the minimum equipment you need for

[2018-10-21 20:15] tanzeelkhan commented on #295
Due to some unavoidable circumstances, the co-facilitator mentioned above won't be able to attend the mozfest this year and will no longer help with my session.

[2018-10-21 20:15] tanzeelkhan commented on #621
Due to some unavoidable circumstances, the co-facilitator mentioned above won't be able to attend the mozfest this year and will no longer help with my session.

[2018-10-22 05:33] theresacheng commented on #731
# Session Plan
Excited to share this session plan with y'all!

## Title:
Fall of the pay(wall): accessibility and readability of the scientific literature

## Goals:
a) articulate barriers that students face when trying to access and understand the literature
b) leave with a kernal of a prototype for an open web project, tool, or resource that dismantles these barriers via a quick n' messy design

[2018-10-22 14:26] MobileMaggie commented on #536
The WeObserve (www.weobserve.eu) team who are running this workshop are also creating an online course that will launch in 2019 to help people understand, participate in and create their own citizen observatories.

To make sure we create a helpful and usable course, we need to hear from you!

Please follow the link to the survey below:

https://docs.google.com/forms/d/e/1FAIpQLSfD6aUC1faEdUBSbbksk

[2018-10-22 16:38] rzr commented on #690
Some updates for anyone following this item:

For hands on session, GNU/Linux OS will be needed, or at least a ssh client to log to a free raspberrypi and be familiar with command line tools.

Please contact me before, I will prepare an env just before.

See you on from Friday to Sunday I'll be there !

https://medium.com/@Mozfest/mozfest-for-coders-2932e4bdb3bf

[2018-10-22 18:39] BhuvanaMeenakshiK commented on #183
Would like to merge this with my new repo https://bhuvanameenakshik.github.io/FarmersGear/  so that further updates on the project can be referred  there.

[2018-10-23 14:01] jontutcher commented on #194
Kate can no longer make it :(

[2018-10-23 14:01] #194 closed, assigned to nobody

[2018-10-23 14:23] hepplerj commented on #455
## Session Plan

- (3 min) Introductions and What is endangered data?
- (5 min) Participant introductions
- (5 min) Provide 4-5 scenarios of endangered data, with user personas (government employees, journalist, activist, university researcher)
    - Climate data
    - Policing data
    - Public health data
    - Hate crimes data
- (15 min) Have participants work on scenarios (post-its with ideas/

[2018-10-23 20:17] theresacheng commented on #731
@jontutcher Can I expect the materials that I listed to be available at my session?

[2018-10-24 02:04] dasaderi commented on #575
# Session Plan

## Title: Lab CoC: Why we need Code of Conducts, and how to get them in every research laboratory

**Goals:**
a) Discuss the need of Code of Conducts to state clear expectations in a research laboratory environment
b) Engage the group in an active design thinking exercise to help develop content as well as a dissemination plan for Lab Code of Conducts

**Materials:**
- (space facil

[2018-10-24 07:58] gbaman commented on #157
Unfortunately this session is no longer able to take place.

[2018-10-24 07:58] #157 closed, assigned to Jcoopt

[2018-10-24 09:01] eBildungslabor commented on #368
Session Plan: https://docs.google.com/document/d/1DhmiovBBVbii1RqMRlTCVWCC8KeHUrPrXmZm12VT-A8/edit?usp=sharing

[2018-10-24 10:07] rzr commented on #690
So if you want to save time for d-day, here are some hints:

1st/ open a mastodon account and ping me at:

* https://social.samsunginter.net/@rzr/100950060932206817
* https://github.com/rzr/webthing-iotjs/wiki/Social

2st/ you prepare your system, check this wiki page to install #IoTjs

* https://github.com/rzr/webthing-iotjs/wiki/IotJs

Feedback welcome here or live support is possible too:

* ir

[2018-10-24 12:08] gbaman commented on #31
@omudongo we need a response to the above ASAP or we will just have to go with your previously provided information of no laptops required for the session

[2018-10-24 15:15] justinscherer commented on #592
# Session Plan

## Summary

## Space setup
Groups of 2-5 sitting around scattered cluster of tables. Tables have markers, big paper, printer paper, post-its, tape, popsicle sticks, and any other kind of craft supplies we can find.

Facilitator will have a some kind of chart paper or whiteboard to draw on that everyone can see.

## Time
**4:30pm to 6:00pm on Saturday October 27th**

## Schedule
As

[2018-10-24 20:16] omudongo commented on #31
@chadsansing and @gbaman I apologize for the late reply and confusion. I won't be needing a laptop from you guys for my session. Please disregard that request. I will be using mine and for participants it's a BYD

[2018-10-25 10:13] emrysgreen commented on #670
https://github.com/MozillaFestival/mozfest-program-2018/issues/588

[2018-10-27 11:45] justinscherer commented on #592
Final deck and working files: https://drive.google.com/drive/folders/18TFsNBHsYhloSMZxIDd1Yqieed3frRG4

[2018-10-27 15:31] Polarisation commented on #624
Session plan:

Part 1: the problem of digital distraction

 - Welcome people to the session and micro-introduction. (~ 2 mins while people are settling)
 - Invite participants to share what interested them about "Combating online distraction and addiction"? (2 mins)
 - In pairs, share our own personal experiences of being distracted or "hooked" by websites and apps (2 minutes)
 - Invite people to

[2018-10-28 15:51] hepplerj commented on #455
ROLL CALL
name / affiliation / location / social media(s)

- Jason Heppler / Endangered Data Week / Omaha, NE, USA / t: @jaheppler g: @hepplerj
- Sarah Melton / Endangered Data Week / Boston, MA / t: @WorldCatLady g: @svmelton
- Danielle Pepin / / London x Boston x Florida / @daniellejpepin
- Will Pearson / / London
- Jason Chao / / (now in) London; (originally from) Macau / t: @jasontchao
- Susan

[2018-10-29 13:09] cubicgarden commented on #77
https://www.bbc.co.uk/rd/projects/public-service-internet

**Public-Controlled Data**
Treat data as a public good: put data back in the hands of people, enhance privacy, and give the public autonomy and control over the data they create.
**Equal Access for Everyone**
Ensure equity of access to the network and to reliable, accurate and trusted information shared over it.
**A Healthy Digital Public

[2018-10-31 13:05] rzr commented on #690
Here are slides of the presented session at mozfest:

https://social.samsunginter.net/@rzr/100969945665369600

Feedback welcome here or upstream:

https://github.com/rzr/webthing-iotjs

[2018-11-02 12:02] shreevari commented on #491
We enjoyed presenting the session and hope that the participants enjoyed it equally.
[Here](https://docs.google.com/presentation/d/1epVQVD7G_lklA6gjtcrdCYeX2_-pH0nTmFyiiMDHOyQ/edit?usp=sharing) is a link to our slide deck and [here](https://github.com/shreevari/not-anymore) is a link to our GitHub project in case anyone is interested in the session.

Thank you @bunnybooboo and the PrivSec team for

[2018-11-14 23:39] rzr commented on #248
Are slides published anywhere ?

[2018-11-15 23:06] theresacheng commented on #731
Here's my [powerpoint](https://github.com/MozillaFestival/mozfest-program-2018/files/2587347/MozFest.Presentation.pdf) and [some notes](https://docs.google.com/document/d/1D7pXEX6HxMXV2IxDFMXXUbDyZsMzb9NVnWTb1mUW8I8/edit) from the session!